@charset "utf-8";
/*
    弹窗用的到CSS
    使用范围：
    2015/10/10
    by    zhangzhiguang
*/
/*弹窗函数样式*/
#wstatus { position:fixed; left:200px; top:400px; width:auto; height:38px; line-height:38px; background:#fff; border:solid 4px #e5e5e5; padding:5px; z-index:9999 }
#wstatus .wstatus_s { width:38px; height:38px; float:left; }
#wstatus .wstatus_s1 {  background:url(../images/icon/ico.png) no-repeat left top; }
#wstatus .wstatus_s2 {  background:url(../images/icon/ico.png) no-repeat left bottom; }
#wstatus .wstatus_s3 {  background:url(../images/icon/loading.gif) no-repeat center; }
#wstatus .wstatus_s4 {  background:url(../images/icon/ico.png) no-repeat left -38px; }
#wstatus .wstatus_f { padding:0 6px 0 6px; text-align:left; font-size:14px; color:#333; font-family:"微软雅黑"; }
/*遮照*/
#bremove { width:100%; height:100%; background:#000; opacity:0.3; filter:alpha(opacity=30); z-index:900; position:fixed; left:0; top:0; }
/*CSS结束*/
body .span { display:block; width:120px; height:34px; line-height:34px;  background:#390; margin:20px 0 0 100px; color:#fff; text-align:center; font-family:"微软雅黑"; font-size:14px; }
body .span:hover { background:#360; cursor:pointer; }
/*举报弹出框*/
.report { min-width: 488px; max-width: 510px; background: #f39700; padding: 8px; position: absolute; z-index: 999; display: none; }
.report.bggreen { background: #88c700; }
body .report h2 { height: 30px; line-height: 24px; color: #ffffff; font-family: "微软雅黑"; font-size: 14px; text-align: center; width: 100%; margin: 0; border: 0; }
.report_content { width: 100%; background: #fcfcfc; -moz-box-shadow: 2px 2px 2px #be7000; -webkit-box-shadow: 2px 2px 2px #be7000; box-shadow: 2px 2px 2px #be7000; }
.report_content.bggreen { box-shadow: 2px 2px 2px #666; }
.report_content ul.hd { padding: 30px 30px 10px 30px; overflow: hidden; }
.reportClose { display: block; width: 14px; height: 14px; background: url(../images/icon/oClose_X.png) no-repeat scroll 0 bottom; position: absolute; right: 10px; top: 10px; }
.report_content ul li { line-height: 24px; clear: both; }
.report_content ul li div.url { font-size: 12px; word-wrap: break-word; word-break: normal; line-height: 20px; }
.report_content ul li.nameid { font-size: 14px; padding-bottom: 15px; }
.report_content ul li.nameid div { font-size: 12px; padding-bottom: 15px; line-height: 24px; }
.report_content ul li .Uploadpz { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; padding: 0 10px; color: #fff; height: 26px; line-height: 24px; font-size: 14px; }
dl.pz { width: 67px; margin-left: 15px; float: left; display: none; }
dl.pz img { border: 1px solid #ccc; }
dl.pz dt { text-align: center; cursor: pointer; }
div.uplodBox { width: 67px; margin-left: 15px; height: 92px; float: left; position: relative; }
div.uplodBox input[type=file] { opacity: 0; filter: alpha(opacity:0); position: absolute; left: 0px; top: 0px; width: 65px; height: 65px; cursor: pointer; }
div.uplodBox input[type=button] { background: url(../images/button/uploadBg.png) no-repeat; width: 65px; height: 65px; border: 0px; }
.report_content ul li div.agshow { width: 370px; float: left; font-size: 14px; }
.report_content ul li.title { height: 34px; font-size: 14px; }
.report_content ul li.phone input { width: 180px; padding: 0 5px; height: 23px; line-height: 23px; }
.report_content ul li.upload_prompt { color: #999999; padding-left: 10px; }
.report_content ul .font14 { font-size: 14px; }
.report_content ul li.drawback input { width: 150px; padding: 0 3px; line-height: 20px; }
.report_content ul li.reason select { width: 193px; line-height: 20px; }
.report_content ul li em.red { padding-right: 3px; }
.report_content ul li.reportradio { padding-bottom: 10px; padding-left: 8px; }
.report_content ul li.reportradio input { margin-right: 6px; height: 24px; vertical-align: middle; }
.report_content ul li.reportradio span { padding-right: 48px; line-height: 24px; display: inline-block; }
.report_content ul li.reportradio span.mrl { padding-right: 0; }
.report_content ul li textarea { width: 420px; height: 84px; padding: 0 5px; line-height: 20px; margin-top: 5px; border: 1px solid #ccc; margin-left: 10px; resize: none; }
.report_content ul li.areaText label.areaTexta { float: left; }
.report_content ul li textarea.areaTextb { resize: none; }
.report_content ul li.shouqu span.sp1 { font-size: 12px; line-height: 23px; float: left; padding-left: 5px; color: #ff6600; }
.report_content ul li.shouqu span.sp1 input { margin: 0 4px 2px; }
.report_content ul li.shouqu span.right { font-size: 12px; }
.report_content ul li span.right { float: right; padding-right: 8px; }
.report_content ul li span.agth { display: block; width: 70px; padding-left: 8px; float: left; }
.report_content ul li span.min80 { min-width: 80px; display: block; float: left; }
.report_content ul li span.pl5 { padding: 0 5px; color: #F00; clear: both; font-size: 12px; }
.report_content ul li .font12 { font-size: 12px; }
.report_content ul li span input[type="checkbox"] { vertical-align: middle; margin-right: 5px; margin-left: 9px; margin-bottom: 1px; }
.report_content p { width: 100%; text-align: center; clear: both; height: 30px; padding-bottom: 30px; }
.report_content .textLeft { text-align: left; }
.report_content p input { height: 30px; line-height: 30px; padding: 0 25px; }
body .report_content p input.leftBtn { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; color: #ffffff; }
body .report_content p input.leftBtn:hover { background: #93D700; }
body .report_content p input.rightBtn { margin-left: 50px; background: url(../images/lucency_icon/data02.png) repeat-x; height: 30px; color: #ffffff; line-height: 30px; }
body .report_content p input.bg3 { background: url(../images/lucency_icon/data02.png) repeat-x; color: #ffffff; }
body .report_content p input.rightBtn:hover { background: #f39700; }
.report_content .borz { text-align: center; line-height: 24px; position: relative; top: -15px; }
/*弹出框*/
.adopt { width: 380px; padding: 10px; position: absolute; display: none; z-index: 80; }
.adopt.wauto { width: auto; }
.adopt h3 { position: relative; height: 30px; line-height: 26px; font-size: 16px; font-family: "微软雅黑"; color: #fff; text-align: center; width: 100%; }
.adopt h3 span { display: block; position: absolute; width: 14px; height: 14px; right: 4px; top: 4px; background: url(../images/icon/oClose_X.png) no-repeat scroll bottom; cursor: pointer; }
.adopt .conbox { background: #fff; width: 100%; height: 100%; padding-bottom: 30px; -moz-box-shadow: 2px 2px 2px #666; -webkit-box-shadow: 2px 2px 2px #666; box-shadow: 2px 2px 2px #666; position: relative; }
.adopt .conbox p { padding: 25px 40px 0 46px; color: #ff6600; line-height: 20px; }
.adopt .conbox p.txtcenter { text-align: center; }
.adopt .conbox p input[type=button] { color: #fff; padding: 0 20px; height: 30px; line-height: 28px; font-size: 14px; cursor: pointer; }
.adopt .conbox p input[type=button].bggreen { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.adopt .conbox p input[type=button].bgyellow { background: url(../images/lucency_icon/data02.png) repeat-x; }
.adopt .conbox p input[type=button].bggreen:hover { background: #93D700; }
.adopt .conbox p input[type=button].bgyellow:hover { background: #f39700; }
.adopt .conbox ul { padding: 10px 0 0 0; }
.adopt .conbox ul li { padding-top: 20px; line-height: 36px; text-align: center; font-family: "微软雅黑"; }
.adopt .conbox ul li.emson { display: block; padding-left: 44px; text-align: left; line-height: 20px; position: relative; bottom: -15px; padding-top: 10px; }
.adopt .conbox ul li.text { color: #333333; line-height: 20px; padding: 20px 29px 0 29px; text-align: left; overflow: hidden; font-size: 14px; }
.adopt .conbox ul li.font12 { font-size: 12px; }
.adopt .conbox ul li.yellow { color: #ff6600; }
.adopt .conbox ul li.text.alignmid { text-align: center; }
.adopt .conbox ul li.center { color: #333333; line-height: 20px; padding: 20px 46px 0 46px; text-align: center; }
.adopt .conbox ul li.select select { width: 130px; }
.adopt .conbox ul li textarea { width: 285px; max-width: 285px; max-height: 100px; height: 70px; vertical-align: middle; resize: none; }
.adopt .conbox ul li span { display: block; text-align: right; width: 334px; line-height: normal; padding-top: 5px; }
.adopt .conbox ul li.text_lbox { color: #333333; line-height: 20px; padding: 10px 35px 0 40px; text-align: left; overflow: hidden; }
.adopt .conbox ul li.text_lbox.lb { padding-top: 20px; }
.adopt .conbox ul li.text_lbox em { padding: 0; width: 60px; text-align: left; display: block; float: left; color: #333333; }
.adopt .conbox ul li.text_lbox p { padding: 0; float: left; width: 240px; }
.adopt .conbox ul li.input input { height: 30px; padding: 0 35px; color: #fff; }
.adopt .conbox ul li.input input.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.adopt .conbox ul li.input input.bg2 { margin-left: 50px; background: url(../images/lucency_icon/data02.png) repeat-x; }
.adopt .conbox ul li.input input.bg3 { background: url(../images/lucency_icon/data02.png) repeat-x; }
.adopt .conbox .default_info { padding: 15px 0 0 35px; }
.adopt .conbox .default_info h3 { height: 34px; line-height: 34px; width: 100%; font-size: 14px; color: #88c700; text-align: left; padding-bottom: 5px; }
.adopt .conbox .default_info ol { overflow: hidden; }
.adopt .conbox .default_info ol li { color: #333333; display: inline-block; width: 155px; line-height: 22px; }
.adopt .conbox .default_info ol li.adress { clear: both; }
.adopt .conbox .default_info p { color: #333333; padding: 0px; overflow: hidden; line-height: 22px; padding-top: 3px; }
.adopt .conbox .default_info p span { float: left; height: 100%; }
.adopt .conbox .default_info p font { display: block; float: left; width: 260px; }
.adopt .conbox .clise { padding: 20px 44px 0 44px; text-align: left; height: 24px; line-height: 24px; }
.adopt .conbox .clise select { width: 175px; height: 24px; line-height: 24px; }
/*弹出框颜色 高度*/
.adopt.optcolor { background: #88c700; }
.adopt.nooptcolor { background: #f39700; }

/*各类公用弹出框*/
.pop-box { width: auto; padding: 10px; position: relative; position: absolute; z-index: 9999; overflow: hidden; display: none; }
.pop-box.titledel { padding: 1px; }
.pop-box h3 { color: #fff; width: 100%; text-align: center; height: 30px; font-size: 14px; line-height: 26px; position: relative; }
.pop-box h3 font { *width: 100%; *display: block; }
.pop-box h3 span.close { position: absolute; display: block; width: 20px; height: 20px; background: #fff; right: 5px; top: 3px; background: url(../images/icon/oClose_X.png) no-repeat scroll 3px -16px; cursor: pointer; }
.pop_cont { width: auto; min-width: 280px; background: #fff; text-align: center; padding: 20px; -moz-box-shadow: 2px 2px 2px #666; -webkit-box-shadow: 2px 2px 2px #666; box-shadow: 2px 2px 2px #666; }
.pop-box.titledel .pop_cont { min-width: 110px; box-shadow: 0px 0px 0px #666; padding: 5px 10px; }
.pop_cont ul { padding: 10px 0; }
.pop_cont ul li { color: #333333; line-height: 30px; font-size: 14px; }
.pop_cont ul li i.icontan { background: url(../images/icon/brand_rightBox_icon.png) scroll -495px -86px; display: inline; padding: 4px 17px; }
.pop_cont ul li.imgx { padding-top: 10px; }
.pop_cont ul li.imgts { font-size: 12px; color: #ff6600; line-height: 20px; }
.pop_cont ul li.text { color: #333; line-height: 24px; text-align: left; font-size: 12px; }
.pop_cont ul li span.circle_mark1 { position: relative; left: 33%; }
.pop_cont ul li em { padding: 0 5px; }
.pop_cont ul li input.day { width: 119px; padding: 0 3px; height: 20px; }
.pop_cont ul li.text_lbox { text-align: left; padding: 0px 0px 10px 20px; height: 30px; line-height: 14px; }
.pop_cont ul li.text_lbox.llei { height: 14px; color: #f60; }
.pop_cont ul li.text_lbox.llei span { font-size: 12px; color: #f60; }
.pop_cont ul li.textLeft { text-align: left; line-height: 30px; }
.pop_cont p { text-align: center; height: 30px; padding-bottom: 0px; }
.pop_cont p input { height: 30px; width: auto; line-height: 28px; font-size: 14px; padding: 0 25px; color: #fff; }
.pop_cont p input.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.pop_cont p input.bg2 { background: url(../images/lucency_icon/data02.png) repeat-x; margin-left: 40px; }
.pop_cont p input.bg3 { background: url(../images/lucency_icon/data02.png) repeat-x; }
.pop_cont p input.pado { margin: 0; }
.pop_cont p a { padding: 5px 25px; color: #fff; width: auto; }
.pop_cont p a.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.pop_cont p a.bg2 { background: url(../images/lucency_icon/data02.png) repeat-x; margin-left: 40px; }
.pop_cont p a.pado { margin: 0; }
.pop_cont_clear p { text-align: center; height: 30px; padding: 20px 0; }
.pop_cont_clear p input { height: 30px; width: auto; line-height: 30px; padding: 0 25px; color: #fff; }
.pop_cont_clear p input.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.pop_cont_clear p input.bg2 { background: url(../images/lucency_icon/data02.png) repeat-x; margin-left: 40px; }
.pop_cont_clear p input.pado { margin: 0; }
.pop_cont_clear p a { padding: 5px 25px; color: #fff; }
.pop_cont_clear p a.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.pop_cont_clear p a.bg2 { background: url(../images/lucency_icon/data02.png) repeat-x; margin-left: 40px; }
.pop_cont_clear p a.pado { margin: 0; }
.pop_cont p input.bg1:hover { background: #93D700; }
.pop_cont p input.bg2:hover { background: #f39700; }
.bg_box_green { background: #88c700; }
.bg_box_orange { background: #f39700; }

.pop-box .bjlb { float: left; position: absolute; padding-left: 25px; height: 18px; line-height: 18px; display: none; left: 114px; }
.pop-box input.bjlbinput { height: 24px; width: 200px; }
.pop-box strong.duigou { display: inline-block; padding: 8px 0px 8px 45px; background: url(../images/lucency_icon/duig.png) no-repeat; }


/*重选品牌弹出框*/
.pop-box.w250 { width: 250px; padding: 5px; }
.pop_cont.w210 { width: 210px; }
.pop_cont.w210 ul { padding: 0px 0 10px 0; border: none; margin-bottom: 10px; }
.pop_cont.w210 ul li { color: #333; line-height: 30px; font-size: 12px; }
.pop_cont.w210 ul li em { padding: 0 5px; }
.pop_cont.w210 p { padding-bottom: 0; }
/*添加产品经理弹出框*/
.pop-box.w455 { width: 455px; }
.pop_cont.w415 { width: 415px; }
.pop_cont.w415 ul { padding: 10px 0 10px 0; margin-bottom: 10px; border: none; }
.pop_cont.w415 ul.mb0 { margin: 0px; }
.pop_cont.w415 ul li.img { overflow: hidden; text-align: center; width: 415px; }
.pop_cont.w415 ul li.img a { display: inline-block; width: 130px; height: 130px; border: 1px solid #ccc; }
.pop_cont.w415 ul li.img a.img1 { margin-right: 20px; }
.pop_cont.w415 ul li.img a.img2 { }
.pop_cont.w415 ul li.textbox { position: relative; background: #eef9df; text-align: left; height: 28px; line-height: 28px; padding: 15px 15px 30px 15px; }
.pop_cont.w415 ul li.textbox p.Prompt { width: auto; float: left; position: absolute; left: 96px; top: 45px; height: 18px; line-height: 18px; color: #333; font-weight: normal; padding-left: 25px; }
.pop_cont.w415 ul li.textbox span { display: block; float: left; width: 70px; background: #f5f5f5 url(../images/icon/btmjt_.png) no-repeat scroll 64px 10px; border: 1px solid #ccc; padding-left: 10px; cursor: pointer; font-size: 12px; }
.pop_cont.w415 ul li.textbox ol { display: none; position: absolute; width: 80px; left: 15px; top: 45px; border: 1px solid #ccc; background: #fff; border-top: none; }
.pop_cont.w415 ul li.textbox ol li { padding-left: 10px; font-size: 12px; }
.pop_cont.w415 ul li.textbox input[type=text] { width: 222px; height: 100%; border: none; border: 1px solid #ccc; border-left: none; padding: 0 5px; margin-right: 8px; }
.pop_cont.w415 ul li.textbox input[type=button] { color: #fff; height: 30px; padding: 0 15px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
.pop_cont.w415 ul li.text { padding-left: 66px; line-height: 26px; }
.pop_cont.w415 ul li.red { color: red; }
.pop_cont.w415 p { padding-bottom: 0; }
.pop_cont.w415 p input { padding: 0px 30px; padding-bottom: 0; }
.pop_cont.w415 p a { padding: 6px 30px; color: #fff; }

/*编辑器弹出框*/
.editcheckbox { position: absolute; left: 10px; bottom: -30px; line-height: 14px; height: 14px; }
.editcheckbox input[type=checkbox] { vertical-align: middle; margin-right: 5px; }
/*消息提醒列表划过弹出框*/
.airbox { position: relative; position: absolute; float: left; border: 1px solid #ccc; border-radius: 5px; background: #fff; width: auto;; z-index: 2000; display: none; }
.airbox span.icontop { display: block; width: 20px; height: 10px; background: url(../images/icon/icontop.png) no-repeat; position: absolute; left: 50%; margin-left: -10px; top: -10px; }
.airbox ul li { float: left; width: 87px; height: 14px; line-height: 14px; margin-bottom: 20px; text-align: left; }
.airbox ul li input[type=checkbox] { vertical-align: bottom; margin-right: 3PX; }
.airbox ul { width: auto; max-width: 438px; padding: 20px 20px 0 50px; overflow: hidden; }
/*提交有奖弹出框*/

.tjyj { width: 97px; position: absolute; display: none; }

.tjyj p.tjyja { width: 97px; height: 15px; background: url(../images/lucency_icon/tjyja_01.png) no-repeat; }
.tjyj p.tjyjb { width: 87px; height: auto; padding-left: 10px; line-height: 18px; color: #f66; background: url(../images/lucency_icon/tjyja_02.png) repeat-y; }
.tjyj p.tjyjc { width: 97px; height: 5px; background: url(../images/lucency_icon/tjyja_03.png) no-repeat; }


/*查看凭证弹出框*/
.pzImg { position: relative; position: absolute; margin-left: 250px; z-index: 60; border: 1px solid #90d101; background: #fff; padding: 20px; }
.pzImg span { display: block; position: absolute; right: 5px; top: 5px; width: 15px; height: 15px; background: url(../images/icon/oClose_X.png) no-repeat scroll 3px 0px; }
/*添加系列产品弹出框*/
.pop-box.w760 { width: 760px; }
.pop_cont_clear.w720 { width: 720px; background: #fff; text-align: center; padding: 20px; -moz-box-shadow: 2px 2px 2px #666; -webkit-box-shadow: 2px 2px 2px #666; box-shadow: 2px 2px 2px #666; overflow: hidden; }
.pop_cont_clear.w720 .promar span { width: 73px; }
/*红旗显示*/
.info_title { width: 100%; position: relative; }
.info_title div, .babyname div { display: block; width: 18px; height: 18px; position: relative; position: absolute; right: 8px; top: 5px; background: url(../images/icon/brand_rightBox_icon.png) no-repeat; }
.info_title div.flagContent, .babyname div.flagContent { position: absolute; border: 1px solid #fbe0b2; background: #fffcf6; padding: 5px 10px; width: 140px; right: 18px; top: 18px; line-height: 20px; height: auto; min-height: 20px; display: none; word-break: break-all; }
.info_title div.flagContent p, .babyname div.flagContent p { font-size: 12px; color: #333; }
.info_title .okPf, .babyname .okPf { background-position: -1000px 0; }
.info_title .noPf, .babyname .noPf { background-position: -35px 5px; }
.info_title .redPf, .babyname .redPf { background-position: 3px 5px; }
.info_title .yellowPf, .babyname .yellowPf { background-position: -216px -112px; }
.info_title .greenPf, .babyname .greenPf { background-position: -233px -112px; }
.info_title .bluePf, .babyname .bluePf { background-position: -250px -112px; }
.info_title .purplePf, .babyname .purplePf { background-position: -267px -112px; }
/*红旗备注弹框*/
.redflag { width: 523px; height: auto; border: 1px solid #93d700; background: #fff; position: relative; position: absolute; top: 50px; left: 100px; moz-box-shadow: 2px 2px 2px #ccc; -webkit-box-shadow: 2px 2px 2px #ccc; box-shadow: 2px 2px 2px #ccc; z-index: 60; display: none; }
.redflag span { display: block; position: absolute; right: 5px; top: 5px; width: 14px; height: 14px; background: url(../images/icon/brand_rightBox_icon.png) no-repeat scroll -153px 0; }
.flag_cont { padding: 40px 30px; }
.flag_cont ul li { line-height: 20px; margin: 0 0 10px 0; overflow: hidden; }
.flag_cont ul li label { display: inline; float: left; }
.flag_cont ul li a { background: #fffcf6; color: #ff6600; border: 1px solid #fbe0b2; line-height: 20px; padding: 0 5px; float: left; margin-left: 10px; display: inline; }
.flag_cont ul li a em { width: 18px; height: 18px; display: block; float: left; background: url(../images/icon/brand_rightBox_icon.png) no-repeat scroll -182px 3px; }
.flag_cont ul li img { vertical-align: middle; }
.flag_cont ul li input { vertical-align: middle; margin-right: 10px; margin-left: 12px; }
.flag_cont ul li textarea { width: 440px; padding: 10px; height: 140px; border: 1px solid #ccc; resize: none; -moz-box-shadow: 1px 1px 5px #f2f2f2 inset; -webkit-box-shadow: 1px 1px 5px #f2f2f2 inset; box-shadow: 1px 1px 5px #f2f2f2 inset; outline: none; overflow: hidden; }
.flag_cont ul li .flag_btn { height: 30px; line-height: 30px; padding: 0 25px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; color: #fff; float: right; margin: 0; }
/*弹出框通用按钮*/
p.btnLength { clear: both; text-align: center; margin-top: 15px; }
p.btnLength input { height: 30px; padding: 0 25px; color: #fff; }
p.btnLength input.bg1 { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; }
p.btnLength input.bg2 { margin-left: 40px; background: url(../images/lucency_icon/data02.png) repeat-x; }
p.btnLength input.bg3 { background: url(../images/lucency_icon/data02.png) repeat-x; }
p.btnLength input.flag_btn { background: url(../images/lucency_icon/yzm01.jpg) repeat-x; float: right; }

/*提示登录框*/
.login_ts { width: 333px; height: 281px; background: url(../images/button/login_tk.png) no-repeat; position: relative; position: absolute; z-index: 55; }
.login_ts h3 { color: #fff; text-align: center; position: absolute; top: 10px; width: 100%; }
.login_ts span.close { position: absolute; display: block; width: 20px; height: 20px; background: #fff; right: 5px; top: 3px; background: url(../images/icon/oClose_X.png) no-repeat scroll 3px -16px; }
.login_ts .inp_box { padding-top: 40px; padding-left: 38px; }
.login_ts .inp_box li { height: 26px; width: 229px; padding: 2px 5px 2px 26px; line-height: 26px; border: 1px solid #ccc; margin-top: 18px; }
.login_ts .inp_box li.bg_username { background: url(../images/button/mfsy_png.png) no-repeat scroll -276px top; }
.login_ts .inp_box li.bg_password { background: url(../images/button/mfsy_png.png) no-repeat scroll -276px -28px; }
.login_ts .inp_box li input { height: 26px; width: 220px; border: none; padding-left: 5px; color: #999999; }
.login_ts .verify { height: 28px; line-height: 28px; width: 295px; padding-top: 18px; padding-left: 38px; }
.login_ts .verify input { border: 1px solid #ccc; height: 28px; line-height: 28px; padding: 0 5px; width: 112px; margin-right: 8px; }
.login_ts .verify img { width: 75px; height: 30px; }
.login_ts .verify span { padding-left: 8px; color: #6da400; font-size: 12px; font-family: "微软雅黑"; cursor: pointer; }
.login_ts .logBtn { height: 28px; line-height: 28px; width: 295px; padding-top: 18px; padding-left: 38px; }
.login_ts .logBtn input { width: 263px; height: 30px; line-height: 28px; text-align: center; background: url(../images/lucency_icon/data02.png) repeat-x; color: #fff; font-size: 14px; font-family: "微软雅黑"; }
.login_ts .logBtn input:hover { background: #f39700; cursor: pointer; }
.login_ts .getWord { margin-top: 10px; height: 24px; line-height: 24px; position: relative; }
.login_ts .getWord p { position: absolute; right: 27px; top: 0px; color: #ff6600; }
.login_ts .getWord p a { padding: 0 5px; font-size: 12px; font-family: "微软雅黑"; color: #ff6600; }

/*添加系列产品弹出框-搜索框整行*/
.tsear { float: left; height: 29px; line-height: 29px; padding-left: 40px; }
.tsear input[type=text] { height: 27px; border: 1px solid #ccc; background: #f9f9f9; padding: 0 5px; }
.tsear input[type=button] { height: 29px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; padding: 0 10px; color: #fff; }
.pop_cont_clear.w720 ul.this { padding: 10px 0 10px 0; margin-bottom: 20px; border: none; }
