@charset "utf-8";
/*
    免费试用-产品页
    使用范围：
    2015/09/29
    by    zhangzhiguang
*/
body { line-height: 1.5; background: #f5f5f5; }
.hide { display: none; }
.left { float: left; }
.text_green { color: #6fa300; }
.text_orange { color: #ff6600; }
.w120 { width: 120px; }
.w131 { width: 170px; overflow: hidden; }
.w160 { width: 170px; }
.w220 { width: 220px; }
.w323 { width: 323px; }
.w340 { width: 340px; }
.w350 { width: 350px; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mr30 { margin-right: 30px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.line { width: 100%; height: 1px; font-size: 0; background: url(../images/icon/bd_bg_1.png); float: left; }
/*页面主体样式*/
.baby_details_wrap { width: 1000px; margin: 0 auto; height: auto; }
.b_d_crumbs { width: 1000px; float: left; font-size: 12px; margin: 30px 0; }
.b_d_crumbs a { color: #333; }
.b_d_crumbs .text_green { color: #6fa300; }
.baby_cs p span.w350 { width: 420px; }
.area_a { width: 1000px; float: left; height: 440px; background: #fff; box-shadow: 3px 3px 3px 0px lightgray; }
/*产品已删除*/
.aldelete { background: #fff; padding: 100px 0; clear: both; box-shadow: 2px 2px 3px #eee; text-align: center; }
.aldelete p { text-align: center; font-size: 16px; color: #ff6600; }
.aldelete span.top10 { margin-right: 50px; line-height: 60px; }
.baby_details_wrap .aldelete p span { background: url(../images/icon/brand_rightBox_icon.png) no-repeat scroll -265px 5px; margin-right: 3px; }

.shangpin_text_wrap { width: 340px; float: left; margin: 20px 20px 0 28px; color: #333; position: relative; }
.shangpin_text_wrap h3 { width: 330px; font-size: 18px; float: left; font-weight: bold; color: #666; }
.shangpin_text_wrap h3 span { margin: 0 5px; }
.shangpin_text_wrap h3 span.lt_sqs { float: right; width: 32px; height: 32px; background: url(../images/lucency_icon/bd_bg_10.png) no-repeat; z-index: 20; position: relative; }
.shangpin_text_wrap h3 span.lt_sqs img { position: absolute; left: 25px; top: 25px; border: 1px solid #ccc; }
.shangpin_text_wrap h3 span.lt_sqsr { float: right; width: 32px; height: 32px; background: url(../images/lucency_icon/bd_bg_10_02.png) no-repeat; }
.shangpin_text_wrap h4 { width: 330px; font-size: 18px; margin-bottom: 16px; float: left; font-weight: bold; color: #666; }
.shangpin_text_wrap span { display: block; height: 28px; float: left; line-height: 24px; vertical-align: bottom; }
#emample1 .img_sure { float: left; }
#emample1 .img_sure img { border: 1px solid #6fa300; width: 32px; height: 32px; }
#emample1 .size_sure { float: left; height: 32px; margin-left: 5px; text-align: center; width: 32px; border: 1px solid #95d600; display: block; line-height: 34px; }
.but_gray { clear: both; width: 62px; height: 23px; cursor: pointer; text-align: center; line-height: 23px; vertical-align: middle; color: #999999; float: left; display: block; background: url(../images/lucency_icon/bd_bg_6.png) 0 -100px; margin: 1px 30px 0 5px; }
.but_ty { width: 130px; height: 35px; float: left; cursor: pointer; display: block; background: url(../images/bd_bg_2.png) -160px 0; }

.but_xuanze { width: 62px; height: 23px; float: left; display: block; text-align: center; line-height: 23px; cursor: pointer; color: #6fa300; background: url(../images/lucency_icon/bd_bg_6.png) 0 -100px; margin: 1px 30px 0 5px; }
/*尺码选择前后的样式begin*/
.xuanze_1 { width: 330px; height: 35px; float: left; line-height: 35px; vertical-align: middle; margin: 0px 0 -5px 0; }
/*尺码选择前后的样式end*/
.tyj { width: 340px; height: 32px; float: left; }
.tyj span { height: 30px; line-height: 30px; vertical-align: bottom; display: inline-block; }
.w323 p { float: left; color: #6fa300; font-size: 15px; font-weight: bold; }
.yellow { font-size: 15px; font-weight: bold; }
.mude_wrap { width: 288px; height: 444px; float: left; background: url(../images/bd_bg_3.png); }
.mude_wrap h3, .mude_wrap h4.free { width: 114px; height: 29px; float: left; margin: 15px 0 0 25px; background: url(../images/button/shiymd.png) no-repeat; display: inline; }
.mude_wrap p { width: 220px; font-size: 14px; float: left; margin-left: 37px; color: #010101; display: inline; }
.mude_wrap h4 { width: 114px; height: 29px; float: left; margin: 15px 0 0 25px; background: url(../images/button/bd_bg_2.png) 0 -46px; display: inline; }
.mude_wrap p.freemd { height: 42px; }
.share_wrap { width: 320px; height: 30px; left: 20px; bottom: 43px; position: relative; }
.share_wrap a { float: left; color: #666; margin-right: 15px; line-height: 15px; }
.share_wrap a span { margin-right: 5px; }
.share_wrap a.fenx { color: #6fa300; }
.share_wrap a.fenx span { float: left; width: 15px; height: 16px; background: url(../images/icon/luojia_01.png) no-repeat 0 -3px; }
.share_wrap a.but_soucang { color: #f60; }
.share_wrap a._dy { color: #6fa300; }
.share_wrap a._dy span { float: left; width: 15px; height: 15px; background: url(../images/icon/luojia_01.png) no-repeat -117px -3px; }
.share_wrap a._dy span.bg { background: url(../images/icon/luojia_01.png) no-repeat -117px -25px; }
.share_wrap a.but_soucang span { float: left; width: 15px; height: 15px; background: url(../images/icon/luojia_01.png) no-repeat -18px -3px; }
.share_wrap a.but_soucang span.bg { background: url(../images/icon/luojia_01.png) no-repeat -18px -25px; }
.share_wrap a.hui { color: #333; }
.share_wrap a.fenx.hui span { background: url(../images/icon/luojia_01.png) no-repeat 0 -25px; }
.share_wrap a.but_soucang.hui span { background: url(../images/icon/luojia_01.png) no-repeat -40px -25px; }
.tb_logo { display: none; border: 1px solid #99cc00; background: #fff; position: absolute; padding: 5px 5px 5px 10px; }
.lj_qq { width: 340px; position: absolute; top: 374px; }
.lj_qq span a { display: block; width: 122px; height: 25px; line-height: 25px; padding-left: 38px; }
.lj_qq span a.ph1 { background: url(../images/button/ph_02.png) no-repeat; color: #999; }
.lj_qq span a.ph2 { background: url(../images/button/ph_01.png) no-repeat; color: #6fa300; }
.lj_qq a.th_qq { float: right; font-size: 12px; margin-top: 3px; line-height: 22px; }
.lj_qq a.th_qq em { float: right; width: 20px; height: 20px; margin-left: 5px; background: url(../images/icon/qq.png) no-repeat; }
.area_b { width: 1000px; float: left; margin-top: 20px; }
.area_c { width: 720px; float: left; }
.video { width: 720px; height: 250px; float: left; padding-bottom: 12px; }
.liucheng_mf { width: 720px; height: 71px; background: url(../images/button/bd_bg__4.png); clear: left; }
.liucheng_mf a { display: block; width: 100%; height: 100%; }
.tiyan_wrap { width: 720px; height: 250px; margin-top: 20px; float: left; }
.tiyan_title { width: 125px; height: 24px; padding-left: 28px; font-size: 16px; color: #6fa300; background: url(../images/lucency_icon/bd_bg_5.png) no-repeat 0 0; }
.tiyan { width: 720px; height: 226px; background: #fff; margin-top: 5px; float: left; box-shadow: 3px 3px 3px 0px lightgray; }
.cpxhd { width: 350px; height: 210px; float: left; margin-top: 10px; border-right: 1px solid #ccc; }
.cpxhd h3 { width: 300px; font-size: 14px; margin: 10px 0 10px 15px; }
.cpxhd_du { width: 230px; height: 26px; float: left; margin-right: 10px; background: #f9f9f9; }
.ppphd_du { width: 230px; height: 26px; float: left; margin-right: 10px; background: #f9f9f9; }
.time { margin: 10px 0 0 20px; display: inline; }
.ppphd { width: 360px; height: 210px; float: left; margin-top: 10px; }
.ppphd_del { width: 320px; margin: 0 0 15px 20px; float: left; }
.ppphd h3 { width: 350px; font-size: 14px; margin: 10px 0 10px 15px; }
.baby_cs_wrap { width: 720px; margin-top: 20px; float: left; }
.baby_cs_wrap h2 { background: url(../images/lucency_icon/yzm27_1.png) no-repeat left; padding-left: 25px; line-height: 17px; }
.baby_cs_title { margin-right: 10px; height: 24px; padding-left: 28px; font-size: 16px; color: #6fa300; background: url(../images/lucency_icon/bd_bg_5.png) no-repeat 0 -25px; }
.baby_zx_title { margin-right: 10px; height: 24px; padding-left: 28px; font-size: 16px; color: #6fa300; background: url(../images/lucency_icon/bd_bg_5.png) no-repeat 0 -48px; }
.baby_cs { width: 680px; padding: 20px 20px 3px 20px; background: #fff; margin-top: 5px; float: left; box-shadow: 3px 3px 3px 0px lightgray; }
.baby_cs p { width: 680px; float: left; line-height: 22px; margin-bottom: 20px; }
.baby_cs span { float: left; display: block; width: 260px; }
.baby_tab_wrap { width: 720px; float: left; }
.baby_tab { width: 660px; float: left; margin-top: 20px; position: relative; bottom: -1px; }
.baby_tab li { width: 120px; height: 40px; cursor: pointer; font-size: 14px; color: #999; float: left; text-align: center; line-height: 40px; margin: 2px 15px 0 0; vertical-align: middle; background: #d4d4d4; border-radius: 8px 8px 0 0; }
.baby_tab .hover { color: #6fa300; height: 41px; float: left; margin-top: 1px; border-bottom: none; background: #fff; border-left: 1px solid #93d700; border-right: 1px solid #93d700; border-top: 1px solid #93d700; border-radius: 8px 8px 0 0; font-weight: bold; }
.baby_tab_cont { width: 720px; float: left; border: 1px solid #93d700; min-height: 200px; background: #fff; padding: 20px 0; }
.baby_tab_cont.paddingBottomwu { padding-bottom: 0px; }
.area_d { width: 250px; float: right; padding-bottom: 20px; }
.white_box { width: 230px; background: #fff; box-shadow: 2px 2px 3px #e1e1e1; text-align: center; padding: 15px 10px; }
.white_box img { border: 1px solid #ccc; }
.white_box p.dril { position: absolute; bottom: 0px; left: 0; height: 0px; text-align: center; line-height: 30px; color: #fff; background: #666; display: none; opacity: 0.6; filter: alpha(opacity=60); padding: 0; }
.title_1 { font-size: 16px; margin-bottom: 10px; text-align: left; }
.tyzx_img { width: 228px; height: 228px; border: 1px solid #ccc; }
.white_box p { width: 100%; font-size: 14px; text-align: center; }
.n_js { width: 230px; background: #fff; padding: 10px; box-shadow: 2px 2px 3px #e1e1e1; text-align: center; }
.n_js img { border: 1px solid #ccc; }
.n_js h2 { font-size: 16px; color: #000; text-align: left; height: 40px; line-height: 30px; padding: 0 2px; }
.title_2 { font-size: 16px; margin-bottom: 10px; padding-bottom: 8px; border-bottom: 1px solid #ccc; text-align: left; }
.jinli { font-size: 14px; color: #333; padding-top: 5px; line-height: 24px; }
.jinli span { font-size: 12px; }
.jinli em { font-size: 12px; font-weight: normal; }
/*宝贝详情的样式*/
.bb_xiangqing { width: 660px; margin: 0 30px; }
.bb_xiangqing h3 { font-size: 16px; color: #323160; margin: 5px 0; }
.bb_xiangqing img { width: 660px; }
.bb_xiangqing p { font-size: 12px; color: #444; line-height: 24px; margin-bottom: 20px; }
/*体验记录样式*/
.table_ty_jilu { width: 700px; margin: 0 10px; float: left; border-collapse: collapse; }
.table_ty_jilu th { border: 1px solid #93d700; height: 28px; background: #f7fceb; color: #666; font-weight: 400; }
.table_ty_jilu td { height: 80px; vertical-align: middle; color: #333; background: url(../images/bd_bg_1.png) bottom repeat-x; }
.table_ty_jilu td img { width: 50px; height: 50px; vertical-align: middle; margin-right: 10px; }
.table_ty_jilu td a { color: #333; text-align: left; }
.table_ty_jilu td a:hover { color: #6fa300; }
.table_ty_jilu .text_left { text-align: left; }
.table_ty_jilu .text_left img { border: 1px solid #ccc; }
.table_ty_jilu tr { border-bottom: 1px dashed #ccc; }
/*体验评价样式*/
.table_ty_pingjia { width: 700px; margin: 0 10px; float: left; border-collapse: collapse; }
.table_ty_pingjia th { border: 1px solid #93d700; height: 28px; background: #f7fceb; color: #666; font-weight: 400; }
.table_ty_pingjia td { height: 20px; vertical-align: middle; padding-bottom: 10px; color: #333; background: url(../images/bd_bg_1.png) bottom repeat-x; }
.pingjia_list { width: 700px; float: left; }
.pingjia_title { width: 700px; height: 30px; background: #eee; margin: 5px 0 10px 0; }
.pingjia_title span { margin: 0 40px 0 15px; line-height: 30px; vertical-align: middle; }
.pingjia_cont { float: left; width: 700px; }
.pingjia_cont dt { width: 250px; height: 75px; float: left; margin: 25px 0 0 20px; display: inline; }
.pingjia_cont img { width: 75px; height: 75px; float: left; vertical-align: middle; margin: 0 15px 0 0; border: 1px solid #ccc; }
.pingjia_cont a { float: left; margin-top: 20px; }
.pingjia_cont dt p { float: left; margin-top: 2px; }
.pingjia_cont dd { width: 400px; float: left; }
.pingjia_cont dd p { line-height: 22px; margin-top: 8px; }
.orange_area { background: #ffcc89; padding: 2px 6px; }
.green_area { background: #c7e18f; padding: 2px 6px; }
/*体验报告样式*/
.table_ty_baogao { width: 700px; margin: 0 10px; float: left; border-collapse: collapse; }
.table_ty_baogao th { border: 1px solid #93d700; height: 45px; background: #f7fceb; color: #666; font-weight: 400; }
.table_ty_baogao td { height: 80px; vertical-align: middle; color: #333; background: url(../images/bd_bg_1.png) bottom repeat-x; }
.table_ty_baogao td img { width: 50px; height: 50px; vertical-align: middle; margin-right: 10px; float: left; border: 1px solid #ccc; }
.table_ty_baogao td a { color: #333; line-height: 20px; }
.table_ty_baogao td a:hover { color: #6fa300; }
.paixu { width: 8px; height: 17px; position: relative; right: 3px; top: 15px; }
.table_ty_baogao tr { border-bottom: 1px dashed #ccc; }
.baby_tab_bottom { width: 720px; background: #fff; }
.classify_title h3 { float: left; }
.classify_title p { float: left; color: #666; }
.classify_title p.classify_title01 { margin-right: 30px; }
.classify_title p.classify_title02 { top: 3px; position: relative; }
.classify_title p.classify_title02 img { position: relative; top: -5px; margin: 0 4px; }
.baby_cs_bottom { width: 690px; padding: 20px 15px 3px 15px; background: #fff; margin-top: 5px; float: left; box-shadow: 3px 3px 3px 0px lightgray; }
.baby_cs_bt { width: 656px; margin: 0 auto; }
.baby_cs_bt .bt_t { text-align: left; }
.baby_cs_bt .bt_t em { float: right; }
.baby_cs_bt p.fr { margin-top: 10px; line-height: 25px; }
.baby_cs_bt input.yzm { border: 1px solid #ccc; }
.baby_cs_bt p.fr a { margin: 0 5px; }
.baby_cs_bt textarea.bt_c { float: left; width: 644px; height: 130px; padding: 5px; border: 1px solid #ccc; }
.baby_cs_bt input.bt_b { padding: 0 20px; height: 25px; background: url(../images/lucency_icon/geren_03.jpg) repeat-x; border: none; color: #fff; font-size: 14px; float: right; }
.bb_t { background: #fff1ec; padding: 15px 30px 13px 30px; line-height: 24px; color: #333; }
.baby_cs_bb { margin-top: 20px; }
.bb_b li { clear: both; padding: 10px 0; line-height: 24px; }
.bb_b li p { margin: 5px 0; color: #333; padding: 0 20px; }
.bb_b li p.padd_none { height: 35px; line-height: 35px; padding: 0; }
.bb_b li p.bjt { height: 35px; line-height: 35px; background: #f7fceb; }
.bb_b li p.bjt span.fr a, .bb_b li p.padd_none span.fr a { color: #f00; }
.bb_b li p.bjt span em, .bb_b li p.padd_none span em { margin: 0 5px; font-size: 14px; color: #6fa300; }
.bb_b li p.bjt img, .bb_b li p.padd_none img { margin-right: 10px; border: 1px solid #ccc; margin-top: 2px; }
.bb_b li p.bjt_txt em.bjt_text { float: left; width: 610px; }
.bb_b li p.bjt_txta em.bjt_texta { float: left; width: 530px; }
.bb_b li p.bjt_txt em.yellow { float: left; min-width: 40px; font-size: 12px; font-weight: normal; color: #f60; }
.bb_b li p.bjt_txta em.green { float: left; min-width: 40px; font-size: 12px; font-weight: normal; }
.bb_b li div.fr { width: 610px; border-top: 1px dashed #ccc; margin-right: 20px; }
.yahoo { padding: 20px 0; }
.baby_cs_wrap h2 { font-size: 16px; color: #6fa300; }
.babycs_xia { background: #fff; border: 1px solid #ccc; margin-top: 10px; }
.babycs_xia p { float: right; font-size: 14px; color: #333; line-height: 50px; }
.babycs_xia p input { padding: 0 25px; height: 30px; background: url(../images/lucency_icon/yzm08.jpg) repeat-x; border: none; color: #6fa300; border: 1px solid #ccc; font-size: 14px; margin-left: 20px; }
/*选择颜色和尺码弹窗*/
.popup_color_size { width: 300px; border: 1px solid #93d700; background: #fff; padding: 10px 0 10px 0; }
.size { width: 300px; margin: 10px 0 10px 10px; float: left; }
.size span { float: left; width: 36px; height: 26px; line-height: 26px; vertical-align: middle; margin-right: 8px; }
.size ul { float: left; width: 240px; }
.size ul li span { float: left; border: 2px solid #6fa300; color: #000000; display: block; max-width: 405px; min-width: 26px; overflow: hidden; text-align: center; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; width: auto !important; position: relative; top: 3px; margin: 0; }
.size ul li span i.icon { background-image: url(../images/icon/T1lyqyXrtdXXcb2O3B-114-122.png); background-repeat: no-repeat; background-position: -65px 0; bottom: 0; display: block; height: 12px; overflow: hidden; position: absolute; right: 0; bottom: 0; text-indent: -99em; width: 12px; }
.size ul li { float: left; position: relative; height: 34px; margin-right: 6px; }
.size ul li a { padding: 0 7px; height: 28px; line-height: 28px; vertical-align: middle; color: #3c3c3c; size: 14px; float: left; border: 1px solid #d1d1d1; margin: 3px 0 3px 0; }
.size ul li a:hover { padding: 0 6px; height: 26px; border: 2px solid #6fa300; }
.size ul li a.wu { border: 1px dashed #d1d1d1; color: #d1d1d1; }
.size ul li a.wu:hover { padding: 0 7px; height: 28px; }
.color { float: left; width: 300px; margin: 10px 0 0 30px; }
.color span { float: left; width: 36px; height: 26px; line-height: 26px; vertical-align: middle; margin-right: 8px; }
.color ul { float: left; width: 240px; }
.color ul li { float: left; margin-right: 6px; }
.color ul li span { float: left; border: 2px solid #6fa300; color: #000000; display: block; max-width: 405px; min-width: 36px; height: 36px; overflow: hidden; text-align: center; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; width: auto !important; position: relative; margin: 0; }
.color ul li span i.icon { background-image: url(../images/icon/T1lyqyXrtdXXcb2O3B-114-122.png); background-repeat: no-repeat; background-position: -65px 0; bottom: 0; display: block; height: 12px; overflow: hidden; position: absolute; right: 0; bottom: 0; text-indent: -99em; width: 12px; }
.color ul li a.wu img { position: relative; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ }
.color ul li a.wu img:hover { width: 38px; height: 38px; border: 1px solid #d1d1d1; }
.color ul li a img { float: left; width: 38px; height: 38px; border: 1px solid #d1d1d1; }
.color ul li a img:hover { width: 36px; height: 36px; border: 2px solid #6fa300; }
.popup_color_size a.but_gray { float: right; }
.blk { width: 302px; position: relative; position: absolute; display: none; z-index: 88; box-shadow: 2px 2px 2px #ccc; }
.blk a.closeBtn { position: absolute; top: 5px; right: 5px; width: 20px; }
/*不符合参与标准弹窗*/
.bufuhe_wrap { width: 420px; height: 350px; background: url(../images/button/bd_bg_7.png); }
.bufuhe_wrap h3 { width: 420px; font-size: 14px; float: left; text-align: center; color: #fff; height: 36px; line-height: 36px; vertical-align: middle; }
.bufuhe_wrap h3 em { float: right; width: 15px; height: 15px; background: url(../images/icon/oClose_X.png) no-repeat 3px -21px; margin-top: 12px; margin-right: 10px; position: relative; }
.bufuhe_wrap h3 img { vertical-align: middle; margin: 0 5px; }
.bufuhe_wrap h4 { width: 420px; padding: 5px 0 0 0; font-size: 14px; color: #666; float: left; text-align: center; }
.bufuhe_list { width: 420px; height: 32px; float: left; margin-left: 10px; font-size: 14px; display: inline; }
.bufuhe_list span { float: left; width: 200px; text-align: right; }
.bufuhe_list img { float: left; }
.bufuhe_list p { float: left; width: 70px; }
.bg_other { background: #fcfcfc; }
.bufuhe_text { width: 420px; float: left; margin: 10px 0 0 0px; display: inline; }
.bufuhe_text img { margin: 0 0 2px 22px; vertical-align: middle; }
.bufuhe_text a { color: #09f; text-decoration: none; margin-right: 5px; }
/*已体验弹窗*/
.yitiyan_wrap { width: 300px; height: 160px; background: url(../images/button/bd_bg_8.png); position: absolute; display: none; z-index: 999; }
.yitiyan_wrap h3 { width: 300px; font-size: 14px; float: left; text-align: center; color: #fff; height: 36px; line-height: 36px; vertical-align: middle; }
.yitiyan_wrap h3 span { float: right; width: 15px; height: 15px; background: url(../images/icon/oClose_X.png) no-repeat 3px -21px; margin-top: 12px; margin-right: 10px; position: relative; }
.yitiyan_wrap p { width: 300px; text-align: center; margin: 40px 0 10px 0; float: left; font-size: 14px; color: #333; }
.yitiyan_wrap a { color: #ff6600; float: left; margin-left: 130px; text-decoration: underline; margin-right: 5px; }
/*授权书弹窗*/
.book { width: 260px; height: 360px; background: url(../images/book.jpg); }
/*商品预定弹窗*/
.dingyue_wrap { width: 318px; height: 284px; padding: 9px 0 0 9px; position: relative; background: #fff; border: 1px solid #ccc; color: #999; }
.dingyue_wrap h3 { font-size: 16px; color: #000; width: 320px; text-align: left; margin: 2px 0 18px 0; }
.dingyue_wrap a { color: #999; margin-right: 5px; }
.dingyue_wrap a:hover { color: #6fa300; }
.but_jieshao { width: 101px; height: 30px; display: block; position: absolute; left: 100px; top: 90px; background: url(../images/button/bd_bg_2.png) -137px -120px; }
.but_dingyue { width: 100px; height: 30px; display: block; position: absolute; right: 10px; bottom: 18px; background: url(../images/lucency_icon/yzm01.jpg) repeat-x; text-align: center; line-height: 28px; font-size: 14px; }
.dingyue_wrap .but_dingyue { color: #fff; border-radius: 3px; }
.dingyue_wrap .but_dingyue:hover { background: #93D700; color: #fff; }
.itemAttr { padding-left: 60px; line-height: 28px; position: relative; z-index: 1; width: 240px; clear: both; }
.itemAttr dt { position: absolute; left: 15px; top: 0; width: 36px; float: left; z-index: 1; }
.itemAttr dd { float: left; margin: 0 9px 9px 0; }
.itemAttr dd a { height: 28px; line-height: 28px; border: 1px #ccc solid; display: inline-block; padding: 0 7px; cursor: pointer; white-space: nowrap; }
.itemAttra dd a { border: 2px #f2f2f2 solid; display: inline-block; cursor: pointer; width: 33px; height: 33px; padding: 0; white-space: nowrap; float: left; }
.itemAttr dd a.un { position: relative; border: 2px #6fa300 solid; padding: 0 6px; height: 26px; line-height: 26px; cursor: pointer; }
.itemAttr dd a.wu { border: 1px dashed #d1d1d1; color: #d1d1d1; cursor: not-allowed; opacity: 0.6; filter: alpha(opacity:60); }
.itemAttra dd a.un i.icon, .itemAttr dd a.un i.icon { background-image: url(../images/icon/T1lyqyXrtdXXcb2O3B-114-122.png); background-repeat: no-repeat; background-position: -65px 0; bottom: 0; display: block; height: 12px; overflow: hidden; position: absolute; right: 0; bottom: 0; text-indent: -99em; width: 12px; z-index: 1111111; }
.itemAttra dd a.un { border: 2px #6fa300 solid; padding: 0; height: 33px; cursor: pointer; }
.itemAttr dd a.none { border: 1px #ccc dotted; color: #CDCDCD; cursor: not-allowed; }
.itemPic { width: 302px; float: left; position: relative; z-index: 9; margin: 20px 0 0 20px; }
.itemPicM { width: 300px; height: 300px; border: 1px #cecece solid; position: relative; }
a.picZoom { position: absolute; right: 2px; bottom: 79px; width: 41px; height: 41px; z-index: 99999; display: block; background: url(../images/zoom.png); }
.itemPicSBox { width: 302px; height: 78px; overflow: hidden; }
.itemPic .selImg { width: 302px; height: 306px; position: absolute; top: 0px; left: 0px; z-index: 999; display: none; }
.itemPic .selImg img { width: 300px; height: 300px; }
.itemPicS { margin-top: 6px; width: 395px; }
.itemPicS li { width: 50px; height: 50px; border: 1px #cecece solid; margin-right: 10.5px; float: left; cursor: pointer; }
.itemPicS li.un { border: 1px #6fa300 solid; }
.itemPicS li img { display: block; }
.MagicZoomBigImageCont { border: 1px solid #dfdfdf; background: #fff; }
.MagicZoomMain { text-align: center !important; width: 92px; }
.MagicZoomMain div { padding: 0px !important; }
.MagicZoomHeader { font: 10px Tahoma, Verdana, Arial, sans-serif; color: #fff; background: #91b817; text-align: center !important; display: none; }
.MagicZoomPup { border: 1px solid #aaa; background: #ffffff; filter: alpha(opacity=50); }
.MagicZoomLoading { text-align: center; background: #ffffff; color: #444; border: 1px solid #ccc; opacity: 0.8; padding: 3px 3px 3px 3px !important; display: none; /* do not edit this line please */ }
.MagicZoomLoading img { padding-top: 3px !important; }
/*2014-6-30新增样式 免费试用+弹出框样式*/
.mfs { width: 340px; padding-bottom: 8px; overflow: hidden; }
.mfs h3 { width: 340px; font-weight: bold; position: relative; height: 24px; line-height: 24px; font-size: 14px; font-family: "微软雅黑"; color: #ff6600; }
.mfs h3 strong { width: 30px; height: 14px; margin-top: 5px; margin-right: 5px; display: block; float: left; background: #ff6600; font-size: 10px; font-weight: 400; line-height: 14px; text-align: center; color: #ffffff; }
.mfs h3 span { background: none; font-weight: 400; font-size: 12px; position: absolute; right: -24px; top: 2px; display: block; height: 24ppx; line-height: 24px; color: #333; width: 121px; }
.mfs h3 font { font-size: 16px; font-weight: 400; padding-left: 79px; }
.mfs h3 font.price { padding-left: 0px; color: #333; }
/*立即申请*/
.lj_sq { width: 336px; border: 1px solid #cccccc; height: 44px; background: url(../images/lucency_icon/mfsy_navbg.png) repeat-x scroll 0 0; display: block; clear: both; line-height: 44px; position: relative; z-index: 1; }
.lj_sq h2 em { position: absolute; left: 53px; top: -10px; background: url(../images/icon/mfsy_icon.png) no-repeat; display: block; width: 14px; height: 14px; }
.lj_sq h2 { position: relative; height: 44px; line-height: 44px; font-size: 16px; font-family: "微软雅黑"; color: #6fa300; padding-left: 10px; display: inline; z-index: 1; }
.lj_sq h2 label { color: #333; font-size: 18px; }
.lj_sq span.lv { position: absolute; top: 0; right: 0px; width: 130px; height: 44px; background: url(../images/button/mfsy_png.png) no-repeat scroll 0 0; }
.lj_sq span.hui { position: absolute; top: 0; right: 0px; width: 130px; height: 44px; background: url(../images/button/mfsy_png.png) no-repeat scroll -132px 0; }
.lj_sq span input { background: none; border: none; width: 130px; height: 44px; text-align: center; line-height: 44px; }
.lj_sq span input.but_wu { width: 130px; height: 44px; background: url(../images/button/but_wu1.png) no-repeat; }
/*倒计时*/
.djs_begin { height: 24px; line-height: 24px; font-size: 18px; padding-top: 14px; padding-bottom: 5px; }
.djs_begin h3 { height: 24px; line-height: 24px; padding-right: 20px; padding-left: 4px; font-family: "微软雅黑"; font-size: 14px; display: inline; width: auto; font-weight: bold; }
.djs_begin h3.begin { color: #6fa300; }
.djs_begin h3.end { color: #ff6600; }
.djs_begin strong { font-family: "微软雅黑"; font-size: 16px; letter-spacing: 1px; font-weight: 400; padding: 0 5px; color: #333333; display: inline; }
/*右侧预览-参与标准-体验目的等bg*/
.mf_bg { background: url(../images/button/mf_bg_3.png) no-repeat scroll 2px 0; }
.mude_wrap h5 { width: 174px; height: 29px; float: left; margin: 10px 0 0 25px; background: url(../images/button/mfsy_png.png) no-repeat scroll 0 -46px; display: inline; }
.mfsy th { height: 28px; }
.mfsy .text_left { text-align: left; }
#abk { width: 0; height: 0; background: black; opacity: 0; filter: alpha(opacity:0); position: absolute; left: 0; top: 0; z-index: 51; display: none; }
/*提示弹框*/
#bfh { position: absolute; z-index: 999; display: none; }
#bfh .bufuhe_text { text-align: center; }
#bfh h4 { margin: 20px 0 15px 0; color: #ff6600; font-weight: bold; }
.wh_cont { -webkit-box-shadow: 3px 3px 3px #aaa; -moz-box-shadow: 3px 3px 3px; box-shadow: 3px 3px 3px #aaa; padding: 5px; border: 2px solid #f60; background: #FFF; z-index: 1000; position: absolute; line-height: 24px; font-size: 12px; text-indent: 2em; display: none; width: 180px; }
/*订阅*/
#dingyue { position: absolute; z-index: 55000; display: none; }
.login_ts { width: 333px; height: 282px; background: url(../images/button/login_tk.png) no-repeat; position: relative; position: absolute; display: none; z-index: 999; }
.login_ts h3 { background: #94d600; color: #fff; font-size: 14px; text-align: center; height: 30px; line-height: 30px; }
.login_ts #login_X { position: absolute; right: 10px; top: 10px; display: block; width: 20px; height: 20px; background: url(../images/icon/oClose_X.png) no-repeat scroll 3px -16px; }
.login_ts .inp_box { padding-top: 10px; padding-left: 38px; }
.login_ts .logBtn input { width: 263px; height: 30px; text-align: center; background: url(../images/lucency_icon/data02.png) repeat-x; color: #fff; font-size: 14px; font-family: "微软雅黑"; }
.login_ts .getWord p { position: absolute; right: 27px; top: 0px; color: #09f; }
.login_ts .getWord p a { padding: 0 5px; font-size: 12px; font-family: "微软雅黑"; color: #09f; }
.enterprise { clear: both; width: 260px; border: 1px solid #99cc00; background: #fff; padding: 5px 20px; position: absolute; display: none; }
.enterprise h2 { font-size: 14px; line-height: 40px; margin-bottom: 5px; border-bottom: 1px dashed #ccc; color: #333; }
.enterprise ul li { float: left; width: 260px; font-size: 12px; line-height: 22px; margin: 3px 0; }
.enterprise ul li span { float: left; width: 60px; }
.enterprise ul li em { float: left; width: 200px; }
.enterprise ul li em a { display: block; width: 20px; height: 20px; }
.enterprise ul li em a.qq { background: url(../images/icon/qq.png) no-repeat; }
.enterprise ul li em a.zhiz { background: url(../images/icon/zhiz.png) no-repeat; }
