/*用户后台登录入口
 *胡玉琼
 *2015/9/24
*/
input{background: inherit;}
.mainCont{width: 998px;border: 1px solid #99cc00;height: 550px;background: url(../../images/icon/signIn.jpg) 0 -1px no-repeat;position: relative;}
.welcome{font-size: 26px;font-weight: bold;color: white;margin-top: 100px;margin-left: 140px;}
.signBox{background: #fff;padding:15px 10px;width: 290px;margin-left: 110px;color: #666666;border-radius: 10px;}
.dashed{height: 1px;border-top: 1px dashed #ccc;}
.signIn-btn input{border-radius:24px;}
.joinIn{width:352px;position:absolute;right: 0;bottom: 40px;background: url(../../images/icon/jionUs.png) no-repeat;height:40px; }
.taxi{margin-top: 5px;}
.jionus{line-height: 40px;padding-right: 20px;font-size: 16px;color: white!important;font-weight: bold;}
.joinIn:hover{background: url(../../images/icon/signIn2.jpg) no-repeat;height: 44px;}
/*用户后台登录
 *胡玉琼
 *2015/9/24
*/
.msTxt{position:absolute; right:92px; top:33px; width:340px; height:18px;color:#FF6600;font-size:18px;font-weight:800; letter-spacing: 0.5px;line-height:16px;text-indent:4px;}
.zhengyq{position:absolute; right:70px; top:340px; padding:10px 0 0 20px; width:350px; height:100px; border-top:dashed 1px #a0a0a0;}
.zhengyq a { display:inline-block;text-align:center;width:90px;padding:70px 2px 10px;line-height:20px;font-size:14px;font-weight:800;}
.zhengyq .zyq_zheng { background:url(../../images/button/zyq-zheng.png) center 10px no-repeat;    margin-left: -17px;}
.zhengyq .zyq_yi { background:url(../../images/button/zyq-yi.png) center 10px no-repeat;margin-left:41px;}
.zhengyq .zyq_qi { background:url(../../images/button/zyq-qi.png) center 10px no-repeat;margin-left:32px;}
/*忘记密码的样式*/
.forget { margin-top:3px;}
.forget p{ line-height:14px; padding:6px 0 6px 0; position:relative; overflow:hidden;}
.forget p a{ display:inline-block; padding:0 8px; float:left; border-right:1px solid #ccc;}
.forget p a.first{ padding-left:0px;}
.forget p a.last{ border:0;}
.forget p a.enroll{ height:20px; line-height:20px;  width:77px; text-align:center; padding:0; background:url(../../images/icon/brand_rightBox_icon.png) no-repeat scroll -528px -149px; position:absolute; right:7px; top:2px; color:#fff;}
.minH450{ min-height:450px;}
/*验证提示的样式*/
.Prompt{ position:relative; position:absolute; bottom:-24px; left:3px; font-size:12px; display:none; width:320px; text-align:left; line-height:17px;}
.Prompt i.mistake{ background:url(../../images/icon/brand_rightBox_icon.png) no-repeat; width:16px; height:16px; display:inline-block; position:absolute; left:3px;top: 0; }
.Prompt i.greenmark{ background:url(../../images/icon/brand_rightBox_icon.png) no-repeat; width:16px; height:16px; display:inline-block; position:absolute; left:3px;}
.Prompt.fu19{ bottom:-19px;}
.Prompt.bottom0{bottom: 100px;}
.Prompt.left120{left: 120px!important;}
.Prompt.yellow{ padding-left:25px; left:0; width:330px;}
.Prompt.yellow.line17{ line-height:17px;}
.Prompt i.mistake{ background-position:-368px -129px;}
.Prompt i.greenmark{ background-position:-285px -129px;}
.Prompt.fu19 i.mistake{ top:-2px;}
/*记住密码的样式*/
.remem{ line-height:14px; padding-top:30px; padding-left:4px; }
.remem input[type=checkbox]{ vertical-align:bottom;  margin-right:5px; *float:left; }
.remem label{cursor:pointer; margin-right:10px; *float:left;*line-height:20px;}
.remem a{ margin-left:10px;*line-height:20px;}
/*登录按钮的样式*/
.login_btn{ width:250px; height:35px; text-align:center; }
.login_btn input{ background:url(../../images/lucency_icon/geren_40.jpg) repeat-x;border-radius: 5px;color:#fff; font-size:16px; line-height:35px;border:none; width:250px; letter-spacing:8px;}
.login_btn input:hover {background:#93d700;}
/*验证码的样式*/
.code{ width:250px; height:30px;position:relative;}
.code i{display:block; width:16px; height:16px; position:absolute; left:5px; top:0px;background:url(../../images/icon/brand_rightBox_icon.png) no-repeat}
.code input{ height:25px; line-height:23px; width:110px; padding:0 5px; margin:2px 5px 0 0; float:left; color:#333; border:1px solid #ccc;}
.code.oncaps input[type=text]{box-shadow:0px 0px 2px #f60; border:1px solid #f60;}
.code.ongreen input[type=text]{box-shadow:0px 0px 2px #93d700; border:1px solid #93d700;}
.code img{ width:75px; height:30px; margin:0; padding:0;float:left;}
.code a.next{  font-size:12px;float:left; line-height:30px; padding-left:10px;}
/*登录头左图片的样式*/
.topHead{width:100%; border-bottom:1px solid #000; padding:20px 0 10px 0; overflow:hidden;}
.topHead .maxtp_userlogin_logo { background:url(../../images/logo/webLogo_meishi.png) 0 0 no-repeat;display:inline-block;width:135px;height:57px;padding-right:5px;}
.topHead .maxtp_userlogin_logopic { background:url(../../images/logo/webLogo_pic.png) 0 bottom no-repeat;display:inline-block;width:120px;height:57px;padding-right:22px;}
.slide.brand{top:0px; left:0px; border:none;width:420px;height:420px;}
.slide{ position:absolute; left:100px; top:50px; width:420px; height:420px; border:1px solid #ccc;}
.slide.user_pic { background:url(../../images/button/usebanner.jpg) 0 0 no-repeat;}
.liginform{ top:80px; right:130px;position:absolute; width:250px;}
.liginform.brand .logo_form{ padding-top:0px;}
/*登录账号和密码的样式*/
.logo_form{ padding:35px 0 0 0; clear:both;}
.logo_form div{ height:25px;line-height:23px; border:1px solid #ccc; color:#666; width:218px; padding-left:30px; position:relative;border-radius:2px;}
.logo_form div.oncaps{ box-shadow:0px 0px 2px #f60; border:1px solid #f60;}
.logo_form div.ongreen{box-shadow:0px 0px 2px #93d700; border:1px solid #93d700;}



.logo_form div input{ border:none;color:#333; height:25px; *height:23px; line-height:23px; width:218px; outline:none; }
.logo_form div i{display:block; width:16px; height:16px; position:absolute; left:5px; top:3px;background:url(../../images/icon/brand_rightBox_icon.png) no-repeat}
.logo_form div .use{ background-position:-430px -128px;}
.logo_form div .word{background-position:-396px -128px;}
/*大写锁定*/
.capsLock,.capsone{ position:absolute; right:-145px; display:none; width:147px; height:60px; top:-12px; background:url(../../images/lucency_icon/CAPS.png) no-repeat;}
.CapsLock{ position:absolute; right:105px; display:none; width:147px; top:245px;}

/*忘记修改登录密码*/
#wapper .safe{ width:998px; margin:0 auto;}
.safe_password{ margin:20px 0;}
.s_pH{ height:285px;}
.s_pH .form_list{ overflow:hidden; padding-bottom:27px; padding-top:3px;}
.s_pH .form_list .form_left{ float:left; height:28px; line-height:26px; text-align:right; width:280px;}
.s_pH .form_list .form_right{ float:left; position:relative; width:400px;}
.s_pH .form_list .form_right input[type=text],.s_pH .form_list .form_right input[type=password]{ width:240px; height:23px; line-height:21px; padding-left:8px;}
.s_pH .next{ text-align:center;}
.s_pH .mtp80{ margin:80px 0 50px;}
.s_pH .w405{ width:405px; display:inline-block; text-align:right;float: left;}
.s_pH .email_l{ width:598px; height:68px; background:#fff4eb; margin:0 auto 20px; text-align:center; padding:10px 0;}
.s_pH .email_l .semail{ height:35px; line-height:35px; background:url(../../images/lucency_icon/ok_duig.png) no-repeat 160px center;}
input.again190{ height:30px; width:190px;}
.s_pH .{ width:405px; display:inline-block; text-align:right;float: left;}
.s_pH .line26{line-height:26px;}
.s_pH .right0{right:0;}
.s_pH .right150{right:150px;}
.s_pH .form_list .form_right input.small{ width:120px; }
.s_pH .form_list div.short{ float:none; width:100%;}
.safe_pH .left_m{ margin-left:235px; margin-top:50px;}
.safe_pH .left_m .email_bg{ padding-left:35px; background:url(../../images/img/ticon.png) no-repeat;}
.finish_ok{ padding-top:40px; height:32px; line-height:32px; background:url(../../images/lucency_icon/duig2.png) no-repeat 255px 40px; padding-left:55px;}
.btn_wsyhcz_2{ background:url(../../images/lucency_icon/yzm01_none.jpg) repeat; color:#fff;}
.bgou{ height:32px; line-height:32px; background:url(../../images/lucency_icon/duig2.png) no-repeat 232px top;}

/*选择修改方式*/
.s_content{ background:#fff; width:736px; margin:0 auto; padding:24px 130px 90px;}
.pad150{padding-top:150px;}
.s_content .safe_title{ background:#f7fceb; height:77px; line-height:77px; text-align:center;}
.s_content .safe_list2{ padding:0 14px; margin-top:55px;}
.s_content .safe_list2 li{ padding:25px 6px; height:35px; border-top:1px dashed #ccc;}
.s_content .safe_list2 li .w_l{ float:left; background:url(../images/icon/xz_icon.png) no-repeat; padding-left:100px; height:35px; line-height:20px;}
.s_content .safe_list2 li .w_r{ float:right; padding-top:5px;}
.s_content .safe_list2 li .w_r a{ width:80px; height:25px; line-height:25px; display:block; text-align:center;}
.s_content .safe_list2 li .wl_position1{ background-position:0 -47px;}
.s_content .safe_list2 li .wl_position2{ background-position:0 -97px;}
/*注册前提示*/
#login_before{ border:1px solid #ccc; width:820px; height:420px; margin:70px auto 0; padding:0 40px 20px;}
#login_before h3{ width:820px; text-align:center; height:90px; font-size:18px; color:#f60; line-height:90px; font-weight:bold;}
#login_before .content{ font-size:14px; color:#333; text-indent:2em; line-height:30px; margin-bottom:30px;}
#login_before p{ width:820px; text-align:center;}
.loginBe{ background:url(../../images/lucency_icon/bot_img.jpg) no-repeat center center; font-size:14px; color:#fff; font-weight:bold; height:40px; line-height:40px;}
#login_before .loginFor{ font-size:12px; color:f60; height:50px; line-height:50px; border-bottom:1px solid #9c0; margin-bottom:40px;}
#login_before .loginFor a{ text-decoration:none; color:#09f;}
#login_before .inputBtn{text-align: center;margin:20px 0;}
#login_before input{ background:url(../../images/icon/ymz_011.png) repeat; background-size:200px 35px; width:200px; height:35px; line-height:35px; color:#fff; font-size:14px; text-align:center; margin:0 35px; border-radius:3px; font-weight:bold; cursor:pointer;}
#login_before input.quit{ background:url(../../images/lucency_icon/bgyeh40.png) repeat; background-size:200px 35px;}
#login_before input:hover{ background:#93d700;}
#login_before input.quit:hover{ background:#f39700;}
#login_before .check{background: none;width: 15px;height: 15px;margin: 0 5px;}
#login_before .sethui{background: #ccc;}
#login_before .sethui:hover{background: #ccc;}
#login_before .centerDiv{min_width:200px;margin:0 auto;}
#login_before .acceptDiv{width:485px;margin:0 auto;overflow:hidden;}
.login_form .next input:hover{ background:#93d700;}
/*注册步骤图*/
.loginTitle{ height:60px; width:900px; margin:30px auto 0;}
/*注册输入邀请码*/
#login_before2{ width:900px; margin:70px auto 0;}
.title2{ background:url(../../images/lucency_icon/geren_60.jpg) repeat-x; width:100%; height:60px; line-height:60px;}
.beTitle{ background:url(../../images/icon/brand_rightBox_icon.png) no-repeat -257px -132px; display:block; position:absolute; left:49%; bottom:-9px; width:20px; height:13px;}
.befor_list{ height:60px;}
.befor_list .form_left{ float:left;}
.befor_list .form_right{ float:left;}
label.bigLfet{ width:390px;}
div.form_right input.samRight{ width:170px;}
div.form_right input.samRight2{ width:90px;}
.form_left{ width:330px; height:28px; line-height:26px; float:left; text-align:right; font-size:14px; color:#333;}
.form_right{ width:296px; position:relative; float:left; font-size:12px;}
.form_right .sex{margin-right:30px;line-height: 30px;}
.form_right input.text{ width:288px; height:28px;line-height:26px; color:#999; font-size:12px; padding-left:8px; border:1px solid #ccc; border-radius:2px;}
/*注册输入框  样式*/
.form_right.oncaps input[type=text]{box-shadow:0px 0px 2px #f60; border:1px solid #f60;}
.form_right.ongreen input[type=text]{box-shadow:0px 0px 2px #93d700; border:1px solid #93d700;}
/*注册步骤一*/
.FormLogin{ width:898px; margin:0 auto; }
.FormTitle{ background:url(../../images/lucency_icon/bot_imgs.jpg) no-repeat; height:50px; width:100%; line-height:50px; padding-left:25px;}
.form_list{ padding-bottom:36px; overflow:hidden; padding-top:3px;}
/*注册步骤二*/
.sfz_left,.sfz_right{ float:left;}
.sfz_zm{ background:url(../../images/img/sfz_zm.jpg) no-repeat;width:280px; height:130px;}
.sfz_fm{ background:url(../../images/img/sfz_fm.jpg) no-repeat;width:280px; height:130px;}
.sfz_fm2{ background:url(../../images/img/sfz_zm2.jpg) no-repeat;width:344px; height:130px;}
.sfz_left .file{ opacity:0; position:absolute; left:10px; bottom:0; width:97px; height:25px;}
.sfz_left .but{ background:url(../../images/lucency_icon/login_up.jpg) no-repeat; width:97px; height:25px; margin-left:10px;}
.form_list .looks{ background:url(../../images/icon/bluebut.jpg) repeat-x; width:90px;  border-radius:10px;height:20px; line-height:18px; position:absolute; left:20px; bottom:8px;}
.form_list .sfz_right label{width:50px;}
.form_list .sfz_left label{width:260px;}
.form_list .sfz_left .img_up{width:150px;}
.R_images{ background:url(../../images/img/sfz_bg.png) no-repeat; width:118px; height:90px; border:1px solid #fff;}
.R_images2{ background:url(../../images/img/sfz_bg2.png) no-repeat; width:118px; height:90px; border:1px solid #fff;}
.R_Nimages{ background:#f1f1f1;width:120px; height:115px;}
.R_Nimages img{margin-left: 10px;}
.R_Nimages .Click{ position:absolute; right:5px; bottom:5px; cursor:pointer;}
.form_list .sfz_left .img_up{width:150px;}
/*注册步骤二弹出窗样式*/
.contont_1{ background:#fff; box-shadow:2px 2px 2px #666; min-height:480px; min-width:710px;}
.yqlist{ padding:40px 0 0 60px;}
.yqlist li{ height:25px;}
/*注册步骤二按钮样式*/
.again100{ width:100px; height:25px; line-height:23px;}
.again120{ width:120px; height:25px; line-height:23px;}
b.change{ height:32px; line-height:32px; color:#6fa300; font-size:12px; font-weight:normal; cursor:pointer;}
.form_list .num input[type=text]{width:140px;margin-right: 5px;}
/*注册第三步*/
.login_form{ border:1px solid #ccc; width:820px; margin:0 auto; padding:50px 40px 70px;}
.login_form .form_list .num2{ text-align:center; width:820px;}
.login_form .form_list .num2 input.text{ width:143px; float:none;}
.login_form .form_list .num2 input.button{ color:#fff; margin:0 15px; width:100px; height:25px; text-align:center; line-height:23px;}
.login_form .form_list .num2 input.btn_wsyhcz{ background:url(../../images/lucency_icon/geren_03.jpg) repeat;}
.login_form .form_list .num2 input.btn_wsyhcz:hover{ background:#93d700;}
.login_form .form_list .num2 input.btn_wsyhcz_2{ background:url(../../images/lucency_icon/gray_01.jpg) repeat;}
.form_list .num2 .text{ width:143px; float:none; border:1px solid #ccc;}
.login_form .form_list .num2 .button{ color:#fff; margin:0 15px; width:100px; height:25px; text-align:center; line-height:23px; border-radius:3px;}
.login_form .form_list .num2 .btn_wsyhcz{ background:url(../../images/lucency_icon/geren_03.jpg) repeat;}
.login_form .form_list .num2 .btn_wsyhcz:hover{ background:#93d700;}
.login_form .form_list .num2 .btn_wsyhcz_2{ background:url(../../images/lucency_icon/gray_01.jpg) repeat;}
.login_form .form_list .num2 b{ color:#f60; font-weight:normal; position:absolute; left:555px; top:8px;}
.login_form .form_list .time{ font-size:14px; text-align:center;}
.login_form .next{ text-align:center;}
.login_form .next input{ background:url(../../images/icon/ymz_011.png) repeat center; font-size:14px; color:#fff; width:141px; height:35px; border-radius:3px; line-height:35px; text-align:center; cursor:pointer;}
.form_right select{ text-align:center; border:1px solid #ccc; border-radius:2px; width:71px; height:25px;}
/*注册第三步密码强度*/
.form_list .Vstrong{ margin-top:5px; height:18px;}
.form_list .Vstrong b{ display:inline-block; text-align:center; width:57px; height:17px; line-height:17px; border:1px solid #999; background:#ccc; margin-right:10px;}
.form_list .Vstrong b.current{ width:57px; height:17px; border:1px solid #99cc00; background:#f2ffd8;}
.FormLogin p span{display: inline;float: left;line-height: 28px;}
.iconStatus span{display: inline;float: left;line-height: 28px;}

/*邮件激活*/
.emailact{ width:600px; border:2px solid #96d523; border-radius:2px; margin:100px auto 0;}
.emtitle{ height:40px; background:#96d523; line-height:40px; padding-left:20px;}
.emcon{ padding:30px 50px;}
.emcon h3{ height:40px;}
.emcenter{ background:#f2f9e3; padding:22px 17px; word-wrap:break-word; word-break:break-all;}
.emcenter p span{display: inline;float: left;line-height: 31px;}
.emcenter p{line-height: 23px;}
.zmiddle{ text-align:center; margin:20px 0;}
a.finlogin{ color:#fff;}
#wapper .safe{ width:998px; margin:0 auto;}
.safe_pH{ height:186px;}
.s_content{ background:#fff; width:736px; margin:0 auto;padding:24px 130px 90px;}
.safe_pH .left_m{ margin-left:235px; margin-top:50px;}
.form_list p span{display: inline;float: left;line-height: 28px;}
.topbg{ background:url(../../images/img/ms_top.jpg) no-repeat; width:980px; height:50px; line-height:50px; padding-left:20px;}
.reStatus .w320{ width:320px; display:inline-block; text-align:right;}
.reStatus .w265{ width:265px; display:inline-block; text-align:right;}
.reStatus p{line-height: 40px;}
.reStatus label{line-height: 40px;}
.showTime{position: absolute;right: 170px;}
/*小绿色勾的图标
 *小黄色感叹号的图标
*/
.gts25{ background:url(../../images/img/Kicon.png) no-repeat; height:40px; line-height:25px;}
.gts_po{ background-position:375px 0;}
.gts_po1{ background-position:320px 0;}
.gts_po3{ background-position:180px 0;}
.gts_po4{ background-position:460px 0;}
.gts_po5{ background-position:240px 0;}

.yts25{ background:url(../../images/img/ticon.png) no-repeat; height:25px; line-height:25px;}
.yts_po{ background-position:135px 0;}
.yts_po2{ background-position:100px 0;}
.yts_po1{ background-position:430px 0;}
.yts_po3{ background-position:265px 6px;}
.yts_po4{ background-position:460px 0;}
/*大绿色勾的图标
 *大黄色感叹号的图标
*/
.Okgou{ background:url(../../images/lucency_icon/duig2.png) no-repeat ;height: 31px;width:31px;}
.NOgou{ background: url(../../images/img/ticon.png) no-repeat; height: 28px;width:28px;}

/*查看帐号使用状态*/
.numtext{ height:28px; line-height:26px; padding-left:5px; width:290px;}
.formO{ margin:60px 0;}
.formO .w386{width:386px;text-align: right;}
.formOleft{ float:left; line-height:28px;}
.formOright{ float:left;}
.again120{ width:120px; height:25px; line-height:23px;}