/***********************************认证中心安全中心 公共样式******************************************/
/*2015/09/29 张杨*/
body{ background:#eaeaea;}
body.white{ background:#FFF;}/*忘记密码背景色 白色*/

.myleft {float: left;}
.myright {float: right;}

.h200{height: 200px;}
.h130{height: 130px;}
.h50{height: 50px;}
.h200 {height: 200px;}
.lineh190{line-height: 190px;}
.lineh32{line-height: 32px;}
.height594{height: 564px;}
.height632{height: 632px;}
.h360{height: 360px;}
.w540{width: 540px;}
.w450{width: 450px;}
.w465{width: 465px;}
.w330{width: 330px;}
.w50{width: 50px;}
.w470{width: 470px;}
.overflow{overflow: hidden;}

/***********************************我的美试-安全中心模块******************************************/
/*2015/09/29 张杨*/
#wapper .safe{ width:998px; margin:0 auto;}
#wapper .safe .safe_r{ background:#fff; float:right; width:753px; height:367px; padding:34px;}
#wapper .safe .safe_r.hp340{padding-bottom:0; height:340px;}
#wapper .safe .safe_l{ float:left;}
.tit_h{ height:48px; line-height:48px;}
.tit_h.lineh34{line-height: 34px;height: 34px;}
.lineh28{line-height: 26px;height: 28px;}
.lineh24{line-height: 24px;}
.safe_list{ padding:0 15px;}
.safe_list li{ padding:25px 6px; overflow:hidden; background:url(../../images/lucency_icon/safe_line.jpg) repeat-x left bottom;  height:48px;}
.safe_list li.back_none{background: none}
.safe_list li p{ float:left; line-height:48px; height:48px;}
.safe_list li p.w60{ width:70px;}
.safe_list li p.w80{ width:90px;}
.safe_list li p.w470{ width:440px; line-height:24px;}
.safe_list li p.w104{ width:82px; height:38px; padding:10px 0 0 20px;}
.safe_list li p .C00{ color:#c00;}
.safe_list li p a{ width:80px; height:25px; line-height:25px; display:block; text-align:center; }
.safe_list li p.finish{ background:url(../../images/lucency_icon/ys_02.png) no-repeat 4px 0; line-height:74px;}

/*选择修改方式*/
.s_content{ background:#fff; width:736px; margin:0 auto; padding:24px 130px 90px;}
.pad150{padding-top:150px;}
.s_content .safe_title{ background:#f7fceb; height:77px; line-height:77px; text-align:center;}
.s_content .safe_list2{ padding:0 14px; margin-top:55px;}
.s_content .safe_list2 li{ padding:25px 6px; height:35px; border-top:1px dashed #ccc;}
.s_content .safe_list2 li .w_l{ float:left; background:url(../../images/icon/xz_icon.png) no-repeat; padding-left:100px; height:35px; line-height:20px;}
.s_content .safe_list2 li .w_r{ float:right; padding-top:5px;}
.s_content .safe_list2 li .w_r a{ width:80px; height:25px; line-height:25px; display:block; text-align:center;}
.s_content .safe_list2 li .wl_position1{ background-position:0 -47px;}
.s_content .safe_list2 li .wl_position2{ background-position:0 -97px;}
.s_content.padding_bottom0{padding-bottom: 0;}
.s_content.padding_bottom20{padding-bottom: 20px;}
.s_content.padding_bottom40{padding-bottom: 40px;}
.padding35-50{padding-left: 35px;padding-bottom: 52px;}

/*修改登录密码*/
.safe_password{ margin:20px 0;}
.s_pH{ height:285px;}
.s_pH.h310{height: 310px;}
.s_pH .form_list{ overflow:hidden; padding-bottom:25px; padding-top:8px;}
.s_pH .form_list .form_left{ float:left; height:28px; line-height:26px; text-align:right; width:280px;}
.s_pH .form_list .form_left.wh230{width: 230px;}
.s_pH .form_list .form_right{ float:left; position:relative; width:400px;}
.s_pH .form_list .form_right.w260{width: 260px;}
.s_pH .form_list .form_right input[type=text],.s_pH .form_list .form_right input[type=password]{ width:240px; height:23px; line-height:21px; padding-left:8px;}
.s_pH .next{ text-align:center;}
.s_pH .mtp80{ margin:80px 0 50px;}
.bgou{ height:32px; line-height:32px; background:url(../../images/lucency_icon/duig2.png) no-repeat 232px top;}

/*修改登录手机 身份证+手机*/
.s_pH .form_list .form_right input.small{ width:120px; }
.h30{height:30px;}
.s_pH .form_list .form_right input.small2{ width:140px;}
.btn_wsyhcz_2{ background:url(../../images/lucency_icon/yzm01_none.jpg) repeat; color:#fff;}
.form_list p.icon_p{ background-position:120px center; padding-left:45px;}
.form_list p.icon_pb{ background-position:110px center; padding-left:45px;}
.s_pH .form_list div.short{ float:none; width:100%;}
.finish_ok{ padding-top:40px; height:32px; line-height:32px; background:url(../../images/lucency_icon/duig2.png) no-repeat 205px 40px; padding-left:55px;}
.finish_ok.paddingl_10{padding-left: 10px;}
p.left370{background: url(../../images/lucency_icon/duig2.png) no-repeat 370px 40px;}

/*修改登录手机 身份证+邮箱*/
.s_pH .email_l{ width:598px; height:68px; background:#fff4eb; margin:0 auto 20px; text-align:center; padding:10px 0;}
.s_pH .email_l .semail{ height:35px; line-height:35px; background:url(../../images/lucency_icon/ok_duig.png) no-repeat 160px center;}
input.again190{ height:30px; width:190px;}
.safe_pH{ height:186px;}
.safe_pH .left_m{ margin-left:235px; margin-top:50px;}
.safe_pH .left_m .email_bg{ padding-left:35px; background:url(../../images/img/ticon.png) no-repeat;}
.emtext{ height:25px; line-height:25px; width:230px; padding-left:5px;}

/*发送验证码剩余次数提示*/
.Show_time{ position:absolute; left:470px; top:7px;}
.Show_time.pleft440{left: 440px;}
.Show_time.pleft500{left: 500px;}


/*Prompt style 验证提示坐标*/
.Prompt{ position:relative; position:absolute; bottom:-24px; left:3px; font-size:12px; display:none; width:320px; text-align:left; line-height:17px;}
.Prompt i.mistake{ background:url(../../images/icon/brand_rightBox_icon.png) no-repeat; width:16px; height:16px; display:inline-block; position:absolute; left:3px;top: 0; }
.Prompt i.greenmark{ background:url(../../images/icon/brand_rightBox_icon.png) no-repeat; width:16px; height:16px; display:inline-block; position:absolute; left:3px;}
.Prompt.fu19{ bottom:-19px;}
.Prompt.bottom0{bottom: 100px;}
.Prompt.left120{left: 120px!important;}
.Prompt.yellow{ padding-left:25px; left:0; width:330px;}
.Prompt.yellow.line17{ line-height:17px;}
.Prompt i.mistake{ background-position:-368px -129px;}
.Prompt i.greenmark{ background-position:-285px -129px;}
.Prompt.fu19 i.mistake{ top:-2px;}

/*注册第三步－第二页*/
.login_form .form_list .come select{ width:120px; margin:0 10px 10px 0; text-align:center;}
.form_list .Vstrong{ margin-top:5px; height:18px;}
.form_list .Vstrong b{ display:inline-block; text-align:center; width:57px; height:17px; line-height:17px; border:1px solid #999; background:#ccc; margin-right:10px;}
.form_list .Vstrong b.current{ width:57px; height:17px; border:1px solid #99cc00; background:#f2ffd8;}

/*大写锁定style*/
.capsLock,.capsone{ position:absolute; right:0px; display:none; width:147px; height:60px; top:-11px; background:url(../../images/lucency_icon/CAPS.png) no-repeat;}
.CapsLock{ position:absolute; right:105px; display:none; width:147px; top:245px;}

.yts25 {background: url(../../images/img/ticon.png) no-repeat;height: 25px;line-height: 25px;}
.yts_po4 {background-position: 240px 0;}
.again120 {width: 120px;height: 25px;line-height: 23px;}
.again100 {width: 100px;height: 25px;line-height: 23px;}
.form_list .time_icon {background: url(../../images/img/ticon.png) no-repeat 135px center;height: 32px;line-height: 32px;}
.mleft245{margin-left: 245px;}



/***********************************我的美试 认证中心*************************************/
/*认证中心-产品经理认证信息 用户后台*/
/*张杨 2015/09/29*/
.y_stepsof{width: 998px;border: 1px solid #ccc;padding: 25px 0;background: #f9f9f9;}
.y_stepsof div.topname {position: relative;height: 18px;}
.y_stepsof div.topname span { position: absolute;top: 0px;font-size: 14px;display: block; width: 140px;text-align: center;}
.y_stepsof div.topname span.s1 {left: 28px;}
.y_stepsof div.topname span.s2 {
  left: 430px;}
.y_stepsof div.topname span.s3 {left: 825px!important;}
.y_stepsof div.ytepImg .step1{ background: url(../../images/lucency_icon/threesteps1.png) no-repeat;height: 35px;}
.y_stepsof div.ytepImg{width: 845px;margin: 10px auto;}
.cont .onh .list_ti ul li.not_take{width: 400px;}
.cont .onh .list_ti ul li.not_take i{margin-left: 10px;border-radius: 10px;padding: 2px 4px;}
.cont .onb ul li.ywidth300{width: 300px;}
body .textError.box i.misx{position: absolute;left: -16px;top: 7px;}
body .textError.box i.mistake {position: absolute;left: 10px;top: 7px;background: url(../../images/icon/icon_Xz.png) no-repeat 2px 1px;width: 18px;height: 18px;display: inline-block;}
.y_stepsof div.ytepImg .step3{background: url(../../images/lucency_icon/threesteps3.png) no-repeat;height: 35px;}
.y_stepsof div.ytepImg .step2{background: url(../../images/lucency_icon/threesteps2.png) no-repeat;height: 35px;}
.y_stepsof div.ytepImg .step2.apply2{background: url(../../images/lucency_icon/steps.png) no-repeat 0px bottom;height: 35px;}
.ont p.lineheight20{line-height: 18px;width: 500px;padding-top: 5px;}
.y_backgroundgreen{background-color: #93d700;}  /*绿色背景*/
.y_backgroundyellow{background-color: #ff9900;} /* 橙色背景*/
.y_backgroundgray{background-color: #c9c9c9;}   /*灰色背景*/
.bottom140{padding-bottom: 140px;}
.bottom90{padding-bottom: 90px;}
.bottom200{padding-bottom: 200px;}
.paddingleft35{padding-left: 40px;}
.paddingleft45{padding-left: 54px;}
span.webicon.cha{ background: url(../../images/lucency_icon/cha.png) no-repeat 0px 0px;width:32px;height: 32px;}
span.webicon.dui{ background: url(../../images/lucency_icon/duig2.png) no-repeat 0px 0px;width:32px;height: 32px;}
span.webicon.tan{ background: url(../../images/lucency_icon/tan1.png) no-repeat 0px 0px;width:32px;height: 32px;}
.s_pH .form_listid{padding-left: 222px;color: #669900;font-weight: bold;}
.s_pH .form_listid.padding_left250{padding-left: 250px;}
.s_pH .form_listid.padding_left144{padding-left: 144px;}
.brand_name{width: 450px;margin: 20px auto 0;background-color: #f9ffeb;height: 115px;}
.brand_name img{margin: 15px 20px 15px 65px;}
.brand_name p{padding-top: 18px;}
.finish_ok.left220{ background: url(../../images/lucency_icon/duig2.png) no-repeat scroll 175px 40px;}
.finish_ok.left125{background: url(../../images/lucency_icon/duig2.png) no-repeat scroll 125px 40px;padding-left: 35px;}
.give.gray3{background:url(../../images/icon/give.png) no-repeat;}
div.uplodBox.left5{margin-left: 5px;}
.y_file{width: 230px;height: 100px;background-color: #f5f5f5;}
.y_file img{margin: 5px 18px 5px 10px;}
.Prompt.bottom12{position: absolute;bottom: -10px;}
.Prompt.bottom_25{position: absolute;bottom: -25px;}
.y_rzcenter{background: url(../../images/img/rzcenter1.png) no-repeat;height: 180px;position: relative;}
.y_rzcenter ul.y_rzcenterul{position: absolute;bottom: 0;height: 40px;padding-left: 50px;background: url(../../images/img/rzcenter2.png) no-repeat;width: 100%;}
.y_rzcenter ul.y_rzcenterul li{float: left;}
.black_white li.hover a{background-color: #fff;color: #000;font-weight: bold;}
.black_white li a{margin-top: 5px;width: 110px;height: 30px;display: inline-block;line-height: 30px;}
.real_name{border-bottom: 1px dashed #c9c9c9;}
.real_name h2{margin-top: 60px;margin-left: 200px;padding-left: 40px;height:36px;line-height:36px;margin-bottom: 15px;}
.real_name h2.yellow{background: url(../../images/lucency_icon/yzm18-1.png) no-repeat left 3px;}
.real_name h2.green1{background: url(../../images/lucency_icon/yzm18-2.png) no-repeat 5px 11px;}
.real_name h2.blue{background: url(../../images/lucency_icon/yzm18-3.png) no-repeat 5px 11px;}
.real_name p{padding-left: 240px;color: #666666;}
.real_name input{ padding: 0 25px; height: 30px;font-size: 14px;line-height: 28px;color: #fff;margin-left: 20px;}
.real_name.inputCenterBtn p,.real_name.inputCenterBtn h2{text-align: left;}
.throughrm{background: url(../../images/lucency_icon/z1.png) no-repeat;height: 40px;line-height: 40px;padding-left: 30px;}
.throughrm.hrm1{background: url(../../images/lucency_icon/z1.png) no-repeat -120px 0;}
.throughrm.hrm2{background: url(../../images/lucency_icon/z1.png) no-repeat -220px 0;}
.rear_img li{margin-left: 95px;margin-top: 35px;width: 130px;height: 130px;}
.y_provide{padding: 0px 100px;}
.y_provide li {width: 375px;height: 42px;line-height:42px;background-color: #ffd6ad;padding-left: 8px;margin-right: 10px;margin-bottom: 15px;}
.y-prompt {padding:25px 0 50px 120px;}
.y-prompt li{line-height: 25px;}
.y_stics{height: 50px;background: url(../../images/lucency_icon/border.png) no-repeat 115px center;line-height: 36px;}
.ysm_tion div.yrenzheng{width: 650px;height: 90px;margin: 20px;border-radius: 5px;}
.ysm_tion div.yrenzheng h2{height: 100%;width: 145px;line-height: 88px;}
.ysm_tion div.yrenzheng p{line-height: 20px;color: #999;margin-left: 10px;}
.ysm_tion div.yrenzheng p span.black{color: #000;}
.ysm_tion div.rz1{border:1px solid #ff9900;}
.ysm_tion div.rz1 h2{background-color: #ff9900;}
.ysm_tion div.rz2{border:1px solid #99cc00;}
.ysm_tion div.rz2 h2{background-color:#99cc00;}
.ysm_tion div.rz3{border:1px solid #0099ff;}
.ysm_tion div.rz3 h2{background-color:#0099ff;}
.ysm_tion .cgdui{padding-left: 20px;background: url(../../images/lucency_icon/duig3.png) no-repeat;}
.rz2.yrenzheng .top35 {border-top: 1px dashed #ccc;margin-left: 155px; width: 485px;}
.rz3.yrenzheng .top35{border-top: 1px dashed #ccc;margin-left: 155px;width: 485px;}
body .inputCenterBtn.text_align_left{text-align: left;}
body .inputCenterBtn input.bggray{ background: url(../../images/lucency_icon/yzm02.png) repeat-x;background-size: 100% 100%;}
body .inputCenterBtn input.bggray:hover{background: #b1b1b1;}

.dashed{height: 1px;border-top: 1px dashed #ccc;overflow: hidden;}
.greenLine{height: 1px;border-top: 1px solid #6fa300;}

#con_one_1 .fize14 .ms_Account ul li span{width: 156px;}
.ms_AccountSp .ms_Account ul{padding-left: 0;}
.ms_Account ul li span, .ms_Account ul li i{font-size: 14px;}
.ms_AccountSp .ms_Account .myulNew{overflow: hidden;}
.ms_AccountSp .ms_Account .myulNew li{float: left;width: 150px;text-align: left;font-weight: bold;font-size: 14px;clear: none;color: #333;padding:15px 0;}
.lineBg{background: url(../../images/img/jiegouLine.png) no-repeat;width: 500px;height: 320px;margin-left: 60px;}
.lineBg2{background: url(../../images/img/line2.png) no-repeat;width: 200px;height: 50px;margin-left: 60px;}
.lineBg3{background: url(../../images/img/line3.png) no-repeat;width: 500px;height:145px;margin-left: 60px;}
.postion1{position: absolute;top: 25px;left: 65px;}
.postion2{position: absolute;top: 80px;left: 105px;}
.postion3{position: absolute;top: 130px;left: 105px;}
.postion4{position: absolute;top: 177px;left: 105px;}
.postion5{position: absolute;top: 235px;left: 65px;}
.postion6{position: absolute;top: 290px;left: 130px;}
.postion7{position: absolute;top: 26px;left: 62px;}
.postion8{position: absolute;top: 28px;left: 35px;}
.postion9{position: absolute;top: 75px;left: 35px;}
.postion10{position: absolute;top:122px;left: 35px;}
.postion span{margin-left: 30px;}

/*通用 选项卡title*/
.Contentbox{ clear:both; }
.Menubox{width:100%;float:left;margin-top:20px; position:relative;bottom:-1px;}
.Menubox.top0{ margin-top:0;}
.Menubox ul{ overflow:hidden; width:100%; }
.Menubox li{ display:inline;border:0px; background:none; overflow:hidden;}
.Menubox li.hover a{ font-weight:bold; color:#6fa300;background:#fff; height:39px; border:1px solid #93d700;border-bottom:1px solid #fff; position:relative; z-index:25 }
.Menubox li a{min-width:90px;height:40px;cursor:pointer;font-size:14px;color:#999;float:left; text-align:center;line-height:40px;margin:2px 15px 0 0; padding:0 15px;vertical-align:middle; background:#d4d4d4; border-radius: 8px 8px 0 0;}
.Menubox li a.hover{ font-weight:bold; color:#6fa300;background:#fff; height:39px; border:1px solid #93d700; border-bottom:1px solid #fff; position:relative; z-index:19}

table.simpleTable tr.y_height35 td{height: 30px;line-height: 28px;}
.sptable .bg td {text-align: left;padding-left: 20px;}
.sptable .bg {background: #f5f5f5;border-bottom: none;}
.w810{width: 810px;}
.w790{width: 790px;}
.ysm_tion div.yrenzheng.h130{height: 130px;}
.ysm_tion div.rz3 h2.hg130{height: 130px;}
.ysm_tion div.yrenzheng h2.lineh130{line-height: 130px;}
.w105{width: 105px;}
.border_770{border-bottom:1px dashed #ccc;width:770px;margin:0 auto;}
.w570{width: 570px;}
input.green_h.w65_25{width: 65px;height: 25px;}
.paddingl_140{padding-left: 140px;}
.w68{width: 68px;}
.h300{height: 300px;}

.height594{height: 594px;}
.shixiao {background: #c9c9c9;border-radius: 5px;font-size: 10px;width: 40px;float: left;height: 15px;line-height: 15px;color: black;margin-top: 8px;padding: 0 5px;}
.shengxiao {background: #93d700;border-radius: 5px;font-size: 10px;width: 40px;float: left;height: 15px;line-height: 15px;color: white;margin-top: 8px;padding: 0 5px;}
.tiyanrenzheng1 .cont .onh .list_ti ul li {width: 600px;}
.tiyanrenzheng1 .cont .onh .list_ti ul li .sp1 {width: 100px;}
.tiyanrenzheng1 .cont .onh .list_ti ul li .w180 {width: 180px;}
.tiyanrenzheng1 .cont .onh .list_ti ul li span {float: left;width: 500px;}
.tiyanshirenzheng .cont a.img, .tiyanrenzheng1 .cont a.img {padding: 25px 0 40px 10px;}
.inleft {float: left;}
.inleft.w300 {width: 300px;}
.h280{height: 280px;}
.inright {float: right;}
.inright.w680 {width: 682px;}
.tiyanrenzheng1 .cont .ont {margin: 0 20px 0 0;}
.pointer{cursor: pointer;}
.w400_h200{width: 400px;height: 200px;}


/*认证中心 用户后台 产品经理认证详情*/
/*2015/09/29 张杨*/
.cont {border: 1px solid #90c320;clear: both;overflow: hidden;background: #fff;position: relative;}
.cont ul li{ font-size:14px;}

.cont ul.dinf li { line-height:30px;}
.cont ul.dinf li span{ width:auto; /*width:76px;*/}
.cont ul.txt{ padding-top:21px; float:left; padding-bottom:21px;}
.cont ul.txt.h90{ height:90px;}
.cont ul.txt li span{ float:left;}
.cont ul.txt li span.w278{ width:278px;}
.cont ul.txt li span.w240{ width:240px;}
.cont ul.txt li span.w120{ width:120px;}
.cont ul.pl15{ padding-left:15px;}
.cont ul.txt li{ line-height:28px; padding-left:15px;}
.cont a.img{ display:block; width:52px; height:52px;padding:40px 0 40px 10px;}
.cont a.img img{ border:1px solid #ccc;}
.cont div.more1{ height:31px; line-height:31px; text-align:right; padding:0 30px; clear:both;}
.cont .onh.fhnake{padding: 30px 0px 0px 20px;}
.cont .onh .list_ti{ margin:0 20px 0px 0; padding-bottom:15px; padding-left:5px; border-bottom:1px dashed #ccc;}
.cont .onh .list_ti ul{ overflow:hidden;}
.cont .onh .list_ti ul li{ float:left; width:300px; line-height:32px; font-size:14px;}
.zhangyang .cont .onh .list_ti ul li{line-height: 25px}
.cont .ont{ padding:30px 0px 35px 20px; margin:0px 20px 0px 20px;}
.cont .ont_none{ padding:20px 0px 20px 0px; margin:0px 20px 0px 20px;}
.cont .ont.h300{ height:331px;}
.cont .ont.h192{ height:192px;}
.cont .ont.h140{ height:140px;}
.cont .ont.h130{ height:130px;}
.cont .ont.h107{ height:107px;}
.cont .ont.h52{ height:52px; padding:0;}
.cont .ont.h63{ height:63px; padding:0;}
.cont .ont.h89{ height:89px;}
.cont .ont.h337{ height:368px;}
.cont .h480{ height:480px;}
.cont .ont.h256{ height:256px;}
.cont .ont.nake{padding:60px 0px 35px 20px;}
.cont .onh.fhnake {padding: 30px 0px 0px 20px;}
.cont .ont.doublefhnake{padding:10px 0px 0px 20px;}
.cont .ont.usein{ padding:30px 0 15px;}
.cont .ont .p1{ font-size:20px; font-weight:bold; padding-bottom:15px;}
.cont .ont .p2{ line-height:14px; padding-bottom:15px; padding-left:40px; overflow:hidden;}
.cont .ont .p2 label{ display:block; float:left; width:62px;}
.cont .ont .p2 label.w110{ width:110px;}
.cont .ont .p2.pl0{ padding-left:0px;}
.cont .ont .p2 .phase{ float:left; width:370px; line-height:20px;position:relative; top:-3px;}
.cont .ont .p2 .phase.w495{width:503px; }
.cont .ont .p2 .phase.w469{width:469px; }
.cont .ont .p2.bottom50{ margin-bottom:50px;}
.cont .ont .p2.font14{ font-size:14px;}
.cont .ont .p2 .user{ padding-right:35px; background:url(../../images/icon/zhu2.jpg) no-repeat scroll 47px 2px;}
.cont .ont .p2 .usera{ padding-right:35px; background:url(../../images/icon/zhu2.jpg) no-repeat scroll 45px 2px;}
.cont .ont .p2 em.space20{ padding-left:20px;}
.cont .ont .p2.hui{ color:#999;}
.cont .ont .p3{ line-height:30px; padding:0 5px;}
.cont .ont .p3 .pl20{padding-left:20px;}
.cont .ont .p3 .pl140{padding-left:142px;}
.cont .ont .p3.hsigned{ background:#f5f5f5;}
.cont .ont .p4{ font-size:16px; line-height:26px; padding:135px 0 0 225px;}
.cont .ont div.intrv{ padding-left:60px;}
.cont .ont a.oIntrven{ color:#0099ff; line-height:52px; padding:0 5px;}
.cont .ont a.oIntrven:hover{ background:none; }
.cont .ont p a.ckwl{ display:block; height:30px; text-align:center; color:#fff; font-size:14px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x; width:90px; line-height:30px;}

.cont .ont dl.daybox{ width:180px; position:absolute; right:0px;top:68px; border:1px solid #93d700;}
.cont .ont dl.daybox.da2{ bottom:10px;}
.cont .ont dl.daybox dt{ background:#f7fceb; height:30px; line-height:30px; text-align:center;}
.cont .ont dl.daybox dd{ height:45px; line-height:45px; background:#fff; text-align:center;}
.cont .ont dl.daybox.Bond{ top:64px;}
.cont .ont dl.daybox.Bond dd{ height:48px; line-height:20px; padding:0px 12px 5px 12px; background:#fff; text-align:left;margin-top: 10px;}
.cont .ont .p2 input.block{ width:120px; display:inline-block; height:30px; line-height:30px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x; text-align:center; color:#fff;}
.cont .ont .down{ padding-left:42px;width:100px;}
.cont .ont .down.w120{ width:120px;}
.cont .ont .down input{ width:100%; height:30px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x; color:#fff; text-align:center; }
.cont .ont .down input:hover{ background:#93D700;}
.cont .ont .down a{ display:block; width:100%; height:30px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x; color:#fff; text-align:center; line-height:28px; font-size:14px; }
.cont .ont .seeref{ padding-left:40px; height:30px; line-height:30px; font-size:14px; margin-top:20px;}
.cont .ont .seeref a{ padding:5px 15px; margin:0 8px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x;  text-align:center; height:30px; color:#fff; font-size:14px;}
.cont .ont .seeref input{display:block; float:right; width:120px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x;  text-align:center; height:30px; color:#fff; font-size:14px;}
.cont .ont .seeref a.clear{ float:none;}

.cont .ont .seerefa{ padding-left:40px; height:30px; line-height:30px; font-size:14px;}
.cont .ont .seerefa input{display:inline-block; min-width:100px; padding:0 10px; margin:0 10px; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x;  text-align:center; height:30px; color:#fff; font-size:14px;}
.cont .ont .seerefa input:hover{ background:#93d700;}
.cont .ont .seerefa a.block{ float:none;}
.cont .ont .seerefb input.tjyouj{ width:88px; height:22px; background:url(../../images/button/tjyouj.png) no-repeat; font-size:12px; line-height:20px; color:#fff; text-indent:8px; margin-left:90px;}

.cont .ont .lokbtn{ height:30px; line-height:30px; font-size:14px; padding-left:40px; padding-top:60px;}
.cont .ont .lokbtn.auto{ padding-top:0px;}
.cont .ont .lokbtn.auto1{ padding-top:5px;}
.cont .ont .lokbtn a{ display:inline-block;  height:30px; padding:0 15px; margin-right:50px; color:#fff; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x;}
.cont .ont .lokbtn a.r10{ margin-right:10px;}
.cont .ont .lokbtn.auto2 a{ margin-right:20px;}
.cont .ont .lokbtn a.yellow{background:url(../../images/lucency_icon/data02.png) repeat-x;}
.cont .ont .lokbtn a.yellow:hover{ background:#f39700;}
.cont .ont .lokbtn input{ display:inline-block;  height:30px; padding:0 15px; margin-right:50px; color:#fff; background:url(../../images/lucency_icon/yzm01.jpg) repeat-x;}
.cont .ont .lokbtn input.yellow{background:url(../../images/lucency_icon/data02.png) repeat-x;}

.cont .ont .pfzt{ width:225px; background:#8fc31f; height:28px; color:#fff; line-height:28px; font-size:16px; padding:1px 1px 1px 15px; margin:10px 0 20px 40px;}
.cont .ont .pfzt span{ float:right; display:block; width:140px; color:#f60; text-align:center; background:#fff;}


.cont .onb{ padding:10px 0 0px 25px;}
.cont .onb h3.subtitle{ color:#666; font-size:14px; height:24px;}
.cont .onb ul{ overflow:hidden;}
.cont .onb ul li{ float:left; width:320px; line-height:24px;}
.cont .onb ul li a{ color:#0099ff; font-size:12px;}
/*2014-11-19 新增详情页按钮划过效果*/
.cont .ont a{ border-radius:3px 3px 3px;}
.cont .ont a:hover{ background:#93D700;}
.cont .ont a.background_none:hover{background: none;}


/*sub_title  添加二级标题*/
.sub_title{ padding:15px 0; border-top:1px solid #90c320;  clear:both; }
.sub_title ul {overflow:hidden; border:1px solid #f39700; background:#fff url(../../images/button/sub_title.png) no-repeat;}
.sub_title ul.obac{background:#fff url(../../images/button/sub_title1.png) no-repeat;}
.sub_title ul li{ float:left; width:50%; text-align:center; line-height:35px; font-size:16px; }
.sub_title ul li.while{ color:#fff;}

/*绿色背景title*/
.inleft h3.title,.inright h3.title,.inmid h3.title{ color:#fff; height:26px; padding:0 15px; float:left; line-height:26px; background:url(../../images/button/titleSub.png) no-repeat scroll right top;}



/*认证中心-实名认证详情*/
/*头部 进度条*/
/*张杨
2015-9-29*/
**********/
.stepsof{  width:998px; border:1px solid #ccc; padding:25px 0; background:#fff;}
.stepsof div.topname{ position:relative; height:18px;}
.stepsof div.topname span{ position:absolute; top:0px; font-size:14px; display:block; width:140px; text-align:center; }
.stepsof div.topname.f12 span{ font-size:12px;}
.stepsof div.topname span.s1{ left:28px;}
.stepsof div.topname span.s2{ left:430px;}
.stepsof div.topname span.s3{ left:825px;}
.stepsof div.stepImg{ width:845px; margin:10px auto; }
.stepsof div.stepImg div{ background:url(../../images/lucency_icon/step-3.png) no-repeat; height:36px; }
.stepsof div.stepImg .step1{ background-position:0 -1px;}
.stepsof div.stepImg .step2{ background-position:0 -45px;}
.stepsof div.stepImg .step3{ background-position:0 -90px;}
.stepsof div.stepImg .step4{ background-position:0 -135px;}
.stepsof div.stepImg .step5{ background-position:0 -180px;}
.stepsof div.stepImg .step6{ background-position:1px -224px;}
.stepsof div.stepImg .step7{ background-position:1px -268px;}
.stepsof div.stepImg .step8{ background-position:1px -312px;}
.stepsof div.stepImg .step9{ background-position:1px -356px;}



#ms_all{ margin:0 auto; width:1000px;}
.mstop{ background:url(../../images/img/ms_top.jpg) no-repeat; width:950px; height:50px; line-height:50px;}
.input150{ width:140px; height:23px; line-height:21px; padding:0 5px;}
.select70{ width:70px; height:23px; line-height:21px;}
.select130{ width:130px!important; height:23px!important; line-height:21px;}
.select100{ width:100px!important; height:25px!important; line-height:21px;}
.botton80{ width:80px; height:30px;}
.yellowBp{ background-position:366px 0; height:25px;}
.cont2.left i{position: absolute;left: -2px;top: 85px;width: 15px;height: 24px;background: url(../../images/icon/sanjiao1.png) no-repeat ;}
.cont2.left i.position_t55{position: absolute;left: -2px;top: 55px;}
.mstit{ height:35px; line-height:35px; border-bottom:1px solid #99cc00; margin-left:55px; margin-bottom:20px; padding-left:5px; width:280px;}
.pLine{ width:653px; border-bottom:1px dashed #ccc; padding-bottom:35px;}
.Maxbox{ width:396px; height:252px; padding:7px;}
.Minbox{ width:408px; height:240px; background:#fff; padding-top:10px; margin-bottom:5px;}
.Smabox{ width:395px; padding-left:15px;}
.padL130{ margin:50px 130px 0;}
.padl150{ padding-left:150px;}
.msList{ padding-left:62px; overflow:hidden;}
.msList_1{ padding-left:62px; overflow:hidden;}
.msList li{ width:236px; float:left; font-size:14px; display:block; height:49px;}
.msList_1 li{ width:236px; float:left; font-size:14px; display:block; height:41px;}
.lastC{ float:right; margin-right:15px;}
.yellowBp1{ background-position:320px 0; height:25px;}
.yellowBp2{ background-position:270px 0; height:25px;}
.yellowN{ background:url(../../images/img/Nicon.png) no-repeat;}
.yellowBp3{ background-position:380px 0; height:25px;}
.yellowK{ background:url(../../images/img/Kicon.png) no-repeat;}
.yellowBp4{ background-position:280px 0; height:25px;}
.pl397{ padding-left:397px;}
.a_go{ padding:0 10px; height:25px; line-height:25px; color:#fff; border-radius:3px; display:inline-block;}
.w412{ width:412px;}
.w408{ width:408px; border:2px solid #99cc00; border-radius:7px;}
.bor_rad{ border-radius:7px;}
.padd4b{ padding:20px 0;}
.jiaobiao{ background:url(../../images/icon/jiaobiao.jpg) no-repeat; width:15px; height:25px; position:absolute; top:45%; right:-15px;}
.mright50_15{ margin:0 50px 0 12px; }
.msbg{ background:url(../../images/lucency_icon/msbg.png) no-repeat;}
.loginBox{position:relative;position:absolute; left:50%; top:50%; width:1000px; height:520px;  margin-left:-500px; margin-top:-260px; background:#fff; }



.hr_180{height: 180px;overflow: hidden;}
.hr_20{height: 20px;overflow: hidden;}
.border_orange_safe{width: 720px;margin:30px auto;overflow: hidden;height: 135px;}
.cont1{width: 130px;background: #f89900;height: 135px;text-align: center;line-height: 135px;font-size:24px ;color: white;}
.left{float: left;}
.yellowBp{background-position:40px 0!important;}
.paddingl{padding-left:85px;}
.text{width: 580px;}
.w390{width: 390px;padding-left: 85px;text-align: left;}
.mstit.all_none{  border: none;margin-bottom: 0;margin-left: 25px;}

/*用户后台，实名认证信息*/
/*张杨 2015/09/29*/
.pading90{padding-bottom: 90px;}
.w720{width: 700px;margin:0 auto;background: #f3ffd8;height: 30px;line-height: 30px;padding-left: 20px;}
.w320{width: 1000px;height: 18px;line-height: 18px; text-align: center;background: url(../../images/icon/zhu3.png) 340px 1px no-repeat;}
.sucess{background: url(../../images/lucency_icon/duig4.png) no-repeat}
.failure{background: url(../../images/img/cha2.png) no-repeat 40px 5px;}
.shimingrenzheng .text{text-align: left;}
.form_list {padding-bottom: 36px;overflow: hidden;padding-top: 3px;}
.shimingrenzheng .form_list{padding-bottom: 30px;}
.shimingrenzheng .form_left{width: 410px!important;}
.shimingrenzheng .form_right input.text{width: 235px;}
.shimingrenzheng .Prompt.green{left: 0;width: 330px;}
.borderB{border-bottom: 1px dashed #ccc;}
.shenfen{width: 220px;margin:50px auto;}
.form_left {width: 410px;height: 28px;line-height: 26px;float: left;text-align: right;font-size: 14px;color: #333;}
.shimingrenzheng .form_list {padding-bottom: 30px;}
.sex {overflow: hidden;margin: 0 5px;width: 40px;height: 15px;display: inline-block;}
.form_right {width: 296px;position: relative;float: left;font-size: 12px;}
.form_right select {text-align: center;border: 1px solid #ccc;border-radius: 2px;width: 71px;height: 25px;}
.Okgou {background: url(../../images/lucency_icon/duig2.png) no-repeat 330px 0;height: 31px;line-height: 31px;}
.R_images{ background:url(../../images/img/sfz_bg.png) no-repeat; width:118px; height:90px; border:1px solid #fff;}
.R_images1{background:url(../../images/img/sfz_bg.png) no-repeat 0 -95px; width:118px; height:90px; border:1px solid #fff;}
.R_images2{ background:url(../../images/img/sfz_bg2.png) no-repeat; width:118px; height:90px; border:1px solid #fff;}
.sfz_left .file{ opacity:0; position:absolute; left:10px; bottom:0; width:97px; height:25px;}
.sfz_left .but{ background:url(../../images/lucency_icon/login_up.jpg) no-repeat; width:97px; height:25px; margin-left:10px;}
.sfz_zm{ background:url(../../images/img/sfz_zm.jpg) no-repeat;}
.sfz_fm{ background:url(../../images/img/sfz_fm.jpg) no-repeat;}
.sfz_fm2{ background:url(../../images/img/sfz_zm2.jpg) no-repeat;}
.looks{ background:url(../../images/icon/bluebut.jpg) repeat-x; width:90px; height:20px; line-height:18px; position:absolute; left:20px; bottom:8px;}
.form_left.w260{width: 260px;}
.form_right.w150{width: 150px;}
.w120_h115{width: 120px;height: 115px;}
.form_right.w350{width: 350px;}
.input_loign{width:360px;margin:50px auto;}
.l800_t250{left: 800px;top: 250px;}
.shimingrenzheng .Prompt.xuanze i.mistake{background: none;}

/*用户后台 认证中心  体验师认证*/
/*张杨 2015/09/29*/
.tiyanrenzheng1 .cont ul.dinf li {line-height: 14px;font-size: 14px;padding: 11px 15px;}
.tiyanrenzheng1 .cont ul.ddinfo {padding: 15px 0;min-height: 250px;}
.tiyanrenzheng1 .cont .ont.mh238{min-height: 238px;}
.w560{  width: 560px;margin: 0 auto;}
.w500 {width: 500px;margin: 0 auto;}
.margin_35 {margin-left: 35px;}
.padding60_0{padding: 60px 0;}
.w360_h130{width:360px;min-height:130px;}
.marg45 {margin: 45px auto;}
.yellowBg {background: #f9ffeb;}
.mypading {padding: 25px 50px;}
.authentication ul {border: 1px solid #ccc;}
.authentication ul li{width: 248px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;}
.background_green1 {background: #99cc00;}
.background_yellow1 {background: #ff9900;}
.true-icon li {position: relative;}
.true-icon li img {position: absolute;right: 50px;top: 10px;}
.authentication ul.left_n{border-left: none;}